[2021-10-11 21:01] chrisgrieser opened #1 "Mac: `cmd + return` does not open in new pane"
currently, only `ctrl+return` works to open in a new pane. However, on Mac, all combinations with `ctrl` use `cmd` instead which does not seem to be working with this plugin yet.

[2021-10-11 23:38] tadashi-aikawa commented on #1
Hi, @chrisgrieser. Thank you for creating your issue!

I will add `cmd` support on macOS in the next release using `Mod` instead of `Ctrl`.

[2021-10-12 02:40] tadashi-aikawa commented on #1
@chrisgrieser

I have released [v0.12.0]. Would you try it and confirm whether it fixes an issue or not?  (Because I don't have macOS. 😢)

[v0.12.0]: https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/0.12.0

[2021-10-12 09:37] chrisgrieser opened #2 "not working on mobile"
I just tried out the plugin on mobile, and it seems it does not work there? I am selecting the normal search and nothing appears – the normal quick switcher on the other hand, works normally.

I am on iOS 15.

[2021-10-13 01:44] tadashi-aikawa commented on #2
@chrisgrieser
Thank you for reporting! I have tried and not working on Android, too.

For now, this plugin doesn't support mobile. So I'll set `isDesktopOnly: true` to avoid downloading on mobile. However, I would like to support mobile someday :)

[2021-10-14 21:30] z-jason opened #3 "Can exclude certain folders or files from the result"
For example, we can exclude templates files from the search result.

On top of this, it'll be nice to introduce the profile concept where each profiles has its own configuration (e.g. which folders to exclude). And the plugins can provide a way to quickly switch between profiles.

[2021-10-15 04:27] tadashi-aikawa commented on #3
Hi. @z-jason. Thank you for the feature request!

I had already added this one related to `Backlink Search,` so I will implement it related to other searches.

Nice! I think so, too. So, I will add this feature to the roadmap and create another issue. 👍

[2021-10-15 05:17] z-jason opened #4 "Can enter different search mode using a special characters"
This feature is similar with VSCode. Hitting ⌘ + P will show the file search palette. When you type ">", it will start searching command. When you type "@", it will start searching symbol (e.g. class name, function name).

Certain users may use @ or > as the file name. Ideally, the quick switch could use a special character that is easy to type and won't appear in the file name. A candidate will b

[2021-10-15 12:33] tadashi-aikawa commented on #4
Hi, @z-jason. Thank you for the suggestion!

I like keymaps of JetBrains IDEs. Therefore I couldn't come up with your ideas. It looks good to me, and I will implement it instead of the prefix `/.`.

[2021-10-15 14:21] tadashi-aikawa commented on #4
Supported for `:n hoge`, `:r hoge`, and `:b hoge`.

https://user-images.githubusercontent.com/9500018/137502692-67574c3b-f871-4119-a245-2ab1fa0f5e8c.mp4

[2021-10-15 14:34] tadashi-aikawa commented on #4
@z-jason
I have released [0.13.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/0.13.0). Would you try it and check as if you expected?

[2021-10-16 08:19] tadashi-aikawa commented on #2
@chrisgrieser

I have released [v0.14.2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/0.14.2), which can be working on mobile. However, on mobile, there are some layout issues, so I keep `isDesktopOnly: true`, which means support unofficially for now. If you want to use it on mobile in spite of the above, please update `isDesktopOnly` to `false`.

[2021-10-16 12:45] chrisgrieser opened #5 "Display of an alias matched by queries"
Right now, only file names are searched, but not aliases, for which you still require the quick switcher plugin. I think when aliases are searched, the quick switcher can be fully substituted

[2021-10-16 13:39] chrisgrieser commented on #5
ah, no I see what the issue was – as opposed to the quick switcher your plugin does not display the current note and its aliases when searching.

That is a subtle but good improvement to search, it only confused me since I was testing aliases of course with the note I have currently open 🤦 😅

However, I noticed another small issue: The alias is used for matching, but it is not _displayed_ in the s

[2021-10-16 14:08] chrisgrieser commented on #2
works perfectly, thanks! 🤗

[2021-10-17 02:19] tadashi-aikawa commented on #5
I know how you feel. I have the same mistakes until now, although I am a developer of this plugin. 😅 (confirm the behavior only)

I agree. We decided that users would know what the alias was in many cases, so we had set a lower priority for it. I will try to support to display of an alias matched by queries.

[2021-10-22 04:40] tadashi-aikawa commented on #3
I have closed this issue because there is no response in a week.

[2021-10-22 04:40] #3 closed

[2021-10-25 08:44] oldjove opened #6 "Create note if none exists?"
Hi, Is there an option to create a note if one doesn't already exist? I.e. like Shift + Enter in core Quick switcher?

[2021-10-25 13:52] DamnedScholar opened #7 "Bug: Uncaught type error on backlink search"
## Steps to Replicate
- `ctrl-P`, select `Another Quick Searcher: Backlink Search`
- Start typing something in the modal.

## Results
![](https://i.imgur.com/o4zomos.png)

[2021-10-25 16:14] #7 closed, assigned to tadashi-aikawa

[2021-10-27 11:19] #6 closed, assigned to tadashi-aikawa

[2021-10-28 04:34] chrisgrieser opened #8 "Feature Request: New Note Location"
The addition of `cmd + shift` was a great idea!

Ad far as I can tell, it always places the new note in the Vault root. Would it be possible to add some customization where new notes get placed?

Ideally, the new note creation would trigger another suggester where you can select a folder. And Subsequently, the new note gets placed at that location. 🙏

[2021-10-30 03:33] tadashi-aikawa commented on #8
I see. Simple is important, I think so, too.

Additionally, while `Move file to another folder` command can only move to a folder that exists, I'll try to be able to also a one that doesn't exist yet. (It means that create a new folder)

As as result,

1. You press `shift + enter`
2. This plugin creates a new file
3. You run a new command, then a new suggester is opened, where you can search only

[2021-10-30 12:04] chrisgrieser commented on #8
that sounds great, looking forward to it :)

[2021-11-02 05:20] z-jason opened #9 "Question: Search query starts with :n like :n hoge"
Could you explain how to use this? I thought I should type ":n" when I open the palette but it doesn't work. Thanks!

[2021-11-02 06:02] tadashi-aikawa commented on #9
@z-jason
Please see https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/4#issuecomment-944341917

You need to one of the `Another Quick Switcher:` command and type `:n`, `:r` or `:b`.

If you run `Another Quick Switcher: Normal search`, and want to Normal search, you need not type `:n`.

[2021-11-03 10:18] tadashi-aikawa commented on #8
Hi, @chrisgrieser.

I have implemented it as an experiment.

https://user-images.githubusercontent.com/9500018/140042720-a580b2a3-8b07-4a54-9b2f-b2f01ad57026.mp4

Of course

- It works without `File explorer` plugin
- When we move the file, links related to the file are changed

If you think it is ok, I'll release it as version 1.2.0 :)

[2021-11-03 10:20] chrisgrieser commented on #8
Looks fine to me! Thanks a lot :)

[2021-11-03 10:34] #8 closed

[2021-11-03 10:53] tadashi-aikawa commented on #8
@chrisgrieser
Thank you for quick confirm!

I have released as [v1.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/1.2.0) 🚀

[2021-11-04 01:16] tadashi-aikawa opened #10 "Tag support"
https://twitter.com/chunwui/status/1456046190336757771?s=20

[2021-11-04 17:09] tadashi-aikawa commented on #10
![image](https://user-images.githubusercontent.com/9500018/140386350-c5e89ebb-cfce-4174-830d-0e996c851458.png)

[2021-11-05 09:05] tadashi-aikawa opened #11 "Search phantom link files only"

[2021-11-05 15:12] #10 closed

[2021-11-06 07:21] tadashi-aikawa commented on #5
@chrisgrieser
Please let us know your opinion.

If it shows all aliases on the suggestion item, does it satisfies your requirement?. Because why it is effortless to implement than to display only matched aliases.

[2021-11-06 10:56] chrisgrieser commented on #5
All aliases could be a bit much when you multiple aliases. Hm. How about this:

For every alias, you generate a separate item in the suggester. Those items have the alias symbol and the name of the alias, but to the right, they have the original filename instead of the parent folder's name.

Would that maybe work?

[2021-11-07 02:28] tadashi-aikawa commented on #5
Thank you for your reply!

I think so, too..

If I respect the policy of Obsidian, it seems to be best. However, it also appears to be a bit noisy when we use `Recent Search`.

![image](https://user-images.githubusercontent.com/9500018/140630028-0be1467d-f686-4b05-a199-4f2fcbf7b7f2.png)

Based on the above, I would like to keep this issue, `Display of an alias matched by queries`, and try it imple

[2021-11-08 03:53] annenpolka opened #12 "Feature Request: Emacs-like Navigation Up/Down(Ctrl+P/N)"
One thing that is in Quick Switcher ++ and I miss is the Ctrl+P/N (Up/Down) navigation.
This can be done with AutoHotkey, but it is less frictional for me if it is supported by this plugin.

[2021-11-08 12:40] tadashi-aikawa commented on #12
@annenpolka
Thank you for creating Feature Request!

It sounds good. I'll try it :)

[2021-11-08 13:17] #12 closed

[2021-11-08 13:22] tadashi-aikawa commented on #12
@annenpolka
I have released as [v1.5.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/1.5.0) 👍

[2021-11-09 04:15] annenpolka commented on #12
Looks nice! Thank you for your great work!

[2021-11-14 09:02] tadashi-aikawa commented on #5
@chrisgrieser
I have added the feature and pushed the latest commit.

I replaced core logic, so there might be some bugs. Therefore, I will use it for a while, and I'll release it as `v2.0.0` when it works correctly.

If you do not mind, It would be great to try the latest source code (not version updated yet) :)

https://user-images.githubusercontent.com/9500018/141674322-4312e75c-f319-4d56-bbf6-

[2021-11-15 10:16] chrisgrieser commented on #5
The aliases have more padding to the left than the file title, otherwise this look fine too me! Maybe highlight the alias that is being matched?

[2021-11-15 13:43] tadashi-aikawa commented on #5
Thanks for your reply!

This is what I intended, but it might not need. I'll format the layout and release it :)

[2021-11-15 14:15] #5 closed

[2021-11-15 14:53] tadashi-aikawa commented on #9
I have closed this issue because there has been no response in a couple of weeks.

[2021-11-15 14:53] #9 closed

[2021-11-15 14:55] tadashi-aikawa commented on #5
I have released as v2.0.0 (and 2.0.1) 🚀

[2021-11-30 23:40] brimwats opened #13 "FR: Improved exclude or a guide on how to use the ignore patterns?"
This feature request is on how to exclude certain folders from the AQS. I would like to excluse a whole folder fo the switcher, but I don't know what sort of regexp pattern to use.

alternatively, it would be great if you could steal some of the code from zootelkeeper or another plugin that allows the user to pick folders to include or exclude, like so:

![image](https://user-images.githubusercont

[2021-12-01 00:07] tadashi-aikawa commented on #13
Hi, @brimwats.

- If you want to ignore a `AAA` directory, set `AAA/`
- If you want to ignore `AAA` and `BBB` directories, set `(AAA|BBB)/`

I think the options are difficult for users to understand because I created them temporarily. However, I'd like to try to improve it because there are users who use it as you do :)

[2021-12-02 07:17] brimwats commented on #13
thanks for the help! I will try it out and see if I can get it working—also happy to test out enhancements :)

[2021-12-12 17:59] brimwats opened #14 "Feature request: limit to existing files only"
I keep accidentally creating new files when I actually just want to go to existing ones. I think the default switcher has a limit option so it would be nice here too!

[2021-12-13 12:44] tadashi-aikawa commented on #14
Hi, @brimwats. Thank you for your Feature request!

Do you mean you don't want to create a new file even if `Shift + Enter,` right?

[2021-12-13 21:47] brimwats commented on #14
right—but more a toggle or something similar so that's not even an option (i.e. it just offers existing items).

or maybe a visualization if the file isn't created? like, text in red or something? I don't know what's easier, codewise! I will ask in the CSS discord channel too!

[2021-12-14 01:13] tadashi-aikawa commented on #14
Could it be that you don't want to create a new file colored gray as follows?

![image](https://user-images.githubusercontent.com/9500018/145914306-e5f9035e-c5fc-42dd-8a71-2c5a0dfc7641.png)

They are included in files as internal links, but It doesn't create as a file.

[2021-12-15 05:27] brimwats commented on #14
That could help! any tips stylizing it because it doesn't stand out as much for me

as you can see:
![image](https://user-images.githubusercontent.com/49103046/146128531-c64d60ef-4a65-455c-986b-9c23fd91caf8.png)

[2021-12-15 05:29] brimwats commented on #13
followup on this: if you don't know regex it gets really hard with a foldername like `booxsidian\400 - Society. Philosophy. Psychology. Religion\15. Productivity & Psychology\3. Psychology`

it would also be nice to exclude certain things like a folder of root words I have:

![image](https://user-images.githubusercontent.com/49103046/146128805-ffc152c0-b63d-4a3a-b9d4-0b52b9eea8fa.png)

[2021-12-16 04:24] tadashi-aikawa commented on #14
LGTM! I'll implement it 👍

Until release, you can set in your CSS as follows.

[code]

The default is `var(--text-faint)` that depends on the theme you use.

[2021-12-16 04:29] tadashi-aikawa commented on #13
@brimwats
Ah.. That is very difficult.. 😇  I suppose to implement **prefix path filter**.

[2021-12-16 08:16] brimwats commented on #13
love that idea! thanks for considering it

[2021-12-16 08:17] brimwats commented on #14
thank you so much for your help!! I'll try it or tomorrow 😃

[2021-12-18 06:17] tadashi-aikawa commented on #13
@brimwats
I have released to [v3.3.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/3.0.0) 🚀

Please confirm whether it works as you expected.

[2021-12-18 06:18] tadashi-aikawa commented on #14
@brimwats
I have released to [v3.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/3.0.0) 🚀

Please confirm whether it works as you expected.

[2021-12-18 23:43] brimwats commented on #14
thanks so much!! I can try it out tomorrow! 😀

[2021-12-19 07:39] avirosso opened #15 "Feature request: Show more suggestions in the search result list"
First: This plugin is great! Thanks!

But: Currently the 'normal / tag search' and the 'recent search' shows only a maximum of 10 suggestions / search results. This a an annoying restriction (especially when searching tags).

It would be great, if the search result lists shows more/all (preferably a custumizable number of) suggestions (resulting in a scrollable result list like in the 'backlink se

[2021-12-19 11:21] tadashi-aikawa commented on #15
Hi, @avirosso. Thank you for your FR!

I agree with you, so I'll implement it 👍

[2021-12-22 05:04] tadashi-aikawa commented on #15
@avirosso
I have released to [v3.1.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/3.1.0) 🚀

Please confirm whether it works as you expected.

[2021-12-22 05:21] avirosso commented on #15
Yes, works great (and even custumizable)! Thanks!

[2021-12-22 05:26] #15 closed

[2021-12-22 07:17] brimwats commented on #14
it works! thanks so much :)

[2021-12-22 07:17] #14 closed

[2021-12-22 07:17] brimwats commented on #13
works! thanks for all your labor!

[2021-12-22 07:17] #13 closed

[2022-01-12 03:36] Aaron-Bopp opened #16 "Feature Request: Use ctrl+j/ctrl+k to scroll through files"
After using this in Various complements, I opened up the quick switcher and my muscle memory took me to those keys. Would appreciate it here as well :D

[2022-01-12 04:36] tadashi-aikawa commented on #16
@Aaron-Bopp
I have released to [v3.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/3.2.0) 🚀

Please confirm whether it works as you expected.

[2022-01-12 20:47] Aaron-Bopp commented on #16
It does indeed! Thank you very much

[2022-01-12 20:47] #16 closed

[2022-01-22 17:26] scpedicini opened #17 "Sort by last accessed is limited to 10 most recent files"
Another quick switcher lets you increase suggestion list using: "Max number of suggestions", for example, mine is currently set to 25 suggestions. However, when you first open "Another Quick Switcher", it only sorts the first 10 by most recently accessed which is the behavior of the official Quick Switcher, but the last 15 are unsorted notes.

[2022-01-22 18:37] tadashi-aikawa commented on #17
Hi, @scpedicini. Thank you for your bug report :)

I could reproduce it 👍

[2022-01-22 18:48] tadashi-aikawa commented on #17
@scpedicini
I have released to [v4.0.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.0.1) 🚀

Please confirm whether it works as you expected.

[2022-01-23 17:32] scpedicini commented on #17
@tadashi-aikawa Just tested it out, works fantastic! Thanks so much - this plugin makes Obsidian so much better.

[2022-01-23 17:32] #17 closed

[2022-01-26 22:49] charleshan opened #18 "Add ignore setting for Move file to another folder"
There are ignore settings for Normal search, Recent search, and Backlink search but not for Folder search (?) for moving a file to another folder.

[2022-01-29 04:16] tadashi-aikawa commented on #18
Hi, @charleshan.

O.K. I'll implement it 👍

[2022-01-29 05:00] tadashi-aikawa commented on #18
@charleshan
I have released to [v4.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.2.0) 🚀

Please confirm whether it works as you expected.

[2022-01-29 05:49] charleshan commented on #18
Works great. Thanks :)

[2022-01-29 05:49] #18 closed

[2022-01-31 23:08] jzhang-brex opened #19 "[Feature Request] User can create search command with predefined condition"
# Use Case

My vault contains personal and work-related notes. I place all work-related notes under the same folder or tag them with `#work`

When I am at work, I want to only search notes related to work. I can start each query with "#work" but it becomes very tedious.

If I am actively working on project-a, I may need to start each query with `#work #project-a`.

# Solution

In the plugin's sett

[2022-01-31 23:18] jzhang-brex opened #20 "[Feature Request] Can search within a folder"
We can add a new search prefix `:f` which will search all the folders. Once the user selects a folder, it becomes a normal search but it only searches that folder. If the user hits the left arrow, it will go back to the folder search mode.

NOTE: It may be tricky to handle the case where multiple folders with the same names. Perhaps we'll need to show the whole full folder paths.

If the user alre

[2022-01-31 23:21] jzhang-brex commented on #12
Consider add this to README.md

[2022-01-31 23:22] jzhang-brex commented on #16
Consider add this to README

[2022-02-01 00:40] tadashi-aikawa commented on #12
We can know the keymaps on the switcher at

![image](https://user-images.githubusercontent.com/9500018/151895994-67a40c11-a37c-40ee-bfcb-fb53d3ee326d.png)

[2022-02-01 00:40] tadashi-aikawa commented on #16
Same as https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/12#issuecomment-1026355240

[2022-02-01 02:01] tadashi-aikawa commented on #19
Hi, @jzhang-brex.

I agree with your use case and solution.

I will try it as well as I can.

I will consider the predefined conditions (obviously), but I will not consider the options.

[2022-02-01 02:08] tadashi-aikawa commented on #20
Hi, @jzhang-brex .

I think the feature is a bit complex for the quick switcher. Despite this, it seems handy, so I will keep it open and see the reaction of others.

[2022-02-01 20:32] charleshan opened #21 "Show files that are not .md"
It looks like the plugin doesn't show files that are not .md

Also, it would be great if we can open these files with an option to "Show in default app" with a shortcut.

e.g. Obsidian Another Quick Switcher > Search for a .drawio file > Enter to open in Obsidian

Obsidian Another Quick Switcher > Search for a .drawio file > Control-Enter to open with the default app

[2022-02-05 11:54] tadashi-aikawa commented on #21
Hi, @charleshan. Thank you for your FR :)

For now, it is not easy for this plugin to support formats except for Markdown(.md). However, I will consider adding the feature if some people need it (by reacting to this issue).

Kind regards.

[2022-02-07 19:46] tonygrr opened #22 "Quick Switcher screen does not scroll when you use the ctrl+j(k)/n(p) keys to navigate"
### Explanatory illustration

![gif](https://user-images.githubusercontent.com/72566774/152859290-db39844e-fe11-4421-a3b4-8f38666ee3aa.gif)

At the same time, if you use the arrow keys to navigate - everything works fine (which I do at the end of the gif).

P.S.: thank you very much for adding the ability to navigate the j/k keys; the vim mod users appreciate it.

I hope that fixing this bug will

[2022-02-08 00:58] tadashi-aikawa commented on #22
Hi, @tonygrr. Thank you for your bug report :)

It wasn't easy when I implemented it. However, I have found a workaround. So I will fix it and release it soon 👍

[2022-02-08 01:06] tadashi-aikawa commented on #22
@tonygrr
I have released to [v4.2.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.2.1) 🚀

Please confirm whether it works as you expected.

[2022-02-08 08:01] tonygrr commented on #22
@tadashi-aikawa yes, everything works great now! Thank you so much (:

[2022-02-08 08:01] #22 closed

[2022-02-09 07:05] Gnopps opened #23 "Include special letters in search"
Thanks for developing this plugin! I use it for the recent search feature.

Would to be possible to incorporate [this functionality](https://forum.obsidian.md/t/kinder-search-for-special-letters/27990) in it? I.e. that when typing for example "u" you get results showing "ü" as well.

[2022-02-10 14:17] tadashi-aikawa commented on #23
Hi, @Gnopps. Thank you for your FR :)

If you mean that you want to search files with accents/diacritics or not, I think it is possible by using [logic](https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript). Do you think it is all right?

[2022-02-11 13:10] tadashi-aikawa commented on #23
@Gnopps
I have released [v4.3.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.3.0) 🚀  Please confirm whether it works as you expected.

![image](https://user-images.githubusercontent.com/9500018/153596503-e6982828-eb6a-409e-aa30-14e52659044e.png)

[2022-02-11 14:37] Gnopps commented on #23
Wow, that was quick! Thank you!

I managed to find a note with "Ü" using "U", great!

However, typing "Ö" or "O" did not find "Ø", Would that kind of syntax be possible?

[2022-02-12 15:59] meskill opened #24 "Poor performance in latest versions"
Hello, nice plugin.

But in the latest versions I've faced really poor performance when typing to the search input any text. It appears only after some noticeable delay after I've typed.

[2022-02-13 04:53] meskill commented on #24
Thanks @tadashi-aikawa
It works much better now. All logs show timing is less than 40ms for me.

[2022-02-13 04:53] #24 closed

[2022-02-13 18:16] Gnopps commented on #23
Works very well, thank you for your work!

[2022-02-14 00:55] #23 closed

[2022-02-23 16:33] ryadaj opened #25 "Feature request: Option to show aliases on top if alias exists"
It would be excellent if aliases were shown on top instead of file name, so reverse the view shown in the screenshot:
<img width="760" alt="Screen Shot 2022-02-23 at 11 29 47" src="https://user-images.githubusercontent.com/82765301/155363243-70ae6a48-ad43-412a-bda8-e277690b1e12.png">

The native quick switcher does this by default
<img width="806" alt="Screen Shot 2022-02-23 at 11 31 57" src="http

[2022-02-24 14:56] ryadaj commented on #25
Amazing, thanks!!

[2022-02-26 23:34] quinncomendant opened #26 "Feature request: allow searching contents of files"
Before using Obsidian, I used [Notational Velocity](https://notational.net/), nvAlt, and FSnotes. These programs were optimized with the same design: a single field is used both for creating notes and searching. When entering the title for a new note, it searched the full text of all notes at the same time, displaying the results below the search field. This functionality is similar to Obsidian's

[2022-02-27 03:25] tadashi-aikawa commented on #26
Hi, @quinncomendant :)

No.

The reason for we can search the contents of all notes by the `Search in all files` command. I respect the ideology of Obsidian, therefore I'll not implement it for quick switcher UI.

Best regards.

[2022-02-27 05:12] tadashi-aikawa commented on #25
@ryadaj

I have released to [v4.4.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.4.0) 🚀

Please confirm whether it works as you expected.

[2022-02-27 13:43] ryadaj commented on #25
Works perfectly :)

<img width="795" alt="Screen Shot 2022-02-27 at 08 41 40" src="https://user-images.githubusercontent.com/82765301/155884848-351edede-d32b-4487-b3e8-d3364b136b99.png">

[2022-02-27 14:57] #25 closed

[2022-03-31 16:06] scpedicini opened #27 "Feature Request: Priority sort by base file name"
I really enjoy "Another-quick-switcher" but recently I'm running into an issue where the folder is given more "weight" in a query than the file name.

For example, I have a folder called "_CSharp_" with hundreds of notes. I need to find a note called "_Using the Sharp library_" which was in a different folder called "_Misc_". I accessed "Quick Switcher: Recent Search" typed in "_sharp_", but unfor

[2022-03-31 17:09] tadashi-aikawa commented on #27
Hi, @scpedicini. Thank you for your FR :)

Perfectly agree. I have been annoyed with such an issue, too. So I'll implement it this weekend 👍

[2022-04-02 10:10] chrisgrieser commented on #21
I like the idea. Not important, but nice to have to switch to images.

[2022-04-02 10:16] chrisgrieser opened #28 "FR Heading Search"
having the ability to search through headings of the current note is a feature that I was looking for a few times.

It feels to me like this plugin might be a good match, since it works similarly to backup search.

This would allow you to quickly navigate big notes with lots of headings. While you can do that with the outline core plugin as well, that plugin cannot be navigated solely with the key

[2022-04-02 15:46] waynemsmith opened #29 "Count inserts into file towards frequency as well"
Would go useful to count insertion of link into current files as as frequency hit same as if it was opened or modified.

I think using this plugin to replace the `[[` search would be awesome. So if you are using it to add links to files, you don't get the benefit of the frequency in the search.

[2022-04-03 03:02] tadashi-aikawa commented on #28
Hi, @chrisgrieser :)

I use that feature with Quick Switcher++, `Open in Headings Mode`. However, if there are advantages to implementing the same or advanced feature to Another Quick Switcher, I'll consider it 🤔

[2022-04-03 03:08] tadashi-aikawa commented on #29
Hi, @waynemsmith. Thank you for creating an issue :)

But, I am sorry because I cannot understand what you want. Could you tell me more details with specific examples?

[2022-04-03 06:15] waynemsmith commented on #29
HI, sure let me elaborate.

I try to use the `[[` during meetings to quickly tag e.g. a person's name in real time. `[[` gives the same search problem of presenting older information at to the top of the search as you are typing which your plugin solves. So I am now trying to rather use "recents option" in the plugin, instead of `[[`, to insert links into the editor as I type (using `CMD-SHIFT-E`

[2022-04-03 07:44] tadashi-aikawa commented on #29
Thank you very much! I have understood what and why you need them.

I'm wondering whether to implement that feature on Another Quick Switcher because it would be better not to implement it on a quick switcher but on auto-completion.

I have been developing another Obsidian plugin named [Various Complements] that enables you to complete words like IDE's auto-completion. One of the plugin's features

[2022-04-03 08:32] tadashi-aikawa commented on #27
@scpedicini
I have released to [v4.6.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.6.0) 🚀

Please confirm whether it works as you expected.

[2022-04-03 10:28] tadashi-aikawa commented on #27
And released [v4.7.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.7.0) 🚀

It includes sort order improvements. It is not only for `Filename recent search` but also for `Normal search`.

[2022-04-03 10:29] chrisgrieser commented on #28
oh, wasn't aware that the plugin has what I was looking for 🙂

Well, in that case you of course don't need to simply replicate an existing feature

[2022-04-03 10:53] FelipeRearden commented on #28
Hello @tadashi-aikawa and @chrisgrieser !!!!

Forgive for step into yours FR. Since I know QS++ pretty well, I think I can add some information about it.

What @chrisgrieser is asking in this FR is about a modal that shows all headings from the **Active File**. That's it, that the FR.
- For example id the active note is like this

[code]

The new command would show a Modal showing 5 lines with eac

[2022-04-03 10:58] waynemsmith commented on #29
Thanks for the quick feedback. I have have installed [Various Complements](https://tadashi-aikawa.github.io/docs-obsidian-various-complements-plugin/) and trying it out! Looks good. Definitely would be good to have it prioritise more recently linked and accessed notes, as top item matched when typing is some cases very old,  which makes the process of linking just a little inefficient.

[2022-04-03 15:24] scpedicini commented on #27
![sharp example](https://user-images.githubusercontent.com/2040540/161434965-8d4f5575-d9f2-41b3-8683-5a029d1ef315.png)
@tadashi-aikawa
thanks for the update. I think it might need a few adjustments. In this example, I think the correct order should have been:
1. CAT-578 Sharp on Lambda => recently accessed today
2. Sharp npm library => last accessed a week ago
3. Detecting Spikes in Volume (Two Sh

[2022-04-03 16:08] tadashi-aikawa commented on #27
@scpedicini
Thank you for your confirming :)

Did you run the new command, `Filename recent search` certainly? (not `Recent search` )

[2022-04-03 16:11] scpedicini commented on #27
Yeah haha I literally just discovered that a half a second ago which does exactly as I described. I think I'll probably use that as my primary search method from now on. Is there any advantage to using the regular "Recent Access Quick Switcher Search" that I might be missing?

[2022-04-03 16:27] tadashi-aikawa commented on #27
Glad to hear that!

The advantage is that you don't have to be aware of where the term you are searching for is in the filename, tag, or directory.

I will try both for a while 👍

[2022-04-03 23:31] scpedicini commented on #27
@tadashi-aikawa
Sounds good. I've been doing some testing with the new Filename recent search today and found a possible issue, and wanted to get your thoughts on it.

I think it might be a good idea to priority sort whole word matches first. I was trying to find a note related to danmaku games and typed the word "hell" but it showed many other notes at the top.

![whole word enhancement](https://

[2022-04-04 01:37] tadashi-aikawa commented on #27
Right. I think it seems better in the case of the language whose delimiter is whitespace.

However, it reduces performance, so I want to add the feature with a new option. Would you create a new issue?

[2022-04-04 01:42] tadashi-aikawa commented on #28
@FelipeRearden
First, thank you for your follow-up!.

My post was wrong, not `Open in Headings Mode` but `Open in Symbol Mode` 😅

Right. It seems valuable to implement the feature to Another Quick Switcher. So I'll reopen this issue and try to implement it 👍

[2022-04-04 11:21] FelipeRearden commented on #28
I'm glad to help 🙃

😀

Thank you very much for trying to implement it !!!!!!!!!!!!!

I'm so happy !!!!!!

Have a great day 🌞

[2022-04-04 14:17] scpedicini opened #30 "Feature Request: Sort by Whole Word (Optional Flag)"
Request for a checkable option that prioritizes sorting by search queries which match whole words. As @tadashi-aikawa has mentioned, this needs to be optional since it can potentially impact performance and because sentence tokenization is different depending on the language (Chinese, Japanese, etc do not have spaces between the words.)

![image](https://user-images.githubusercontent.com/2040540/1

[2022-04-04 14:18] scpedicini commented on #27
@tadashi-aikawa
Good point about delimiters, I've created a new FR here:
https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/30

[2022-04-05 16:19] tadashi-aikawa commented on #27
Thanks! So I'll close this issue.

[2022-04-05 16:19] #27 closed

[2022-04-06 12:28] hakonhagland opened #31 "Option to copy currently selected item from the suggestions list to input text field"
Thanks for creating this nice plugin. It is really helpful.

I often use `CTRL+O` instead of `CTRL+N` when I want to create a new note. Then I use `SHIFT+ENTER` to create a new note from inside the quick switcher. However, it often useful to create a note that has a similar name to an existing note. To avoid typing the whole name again (if you have a long name) it would be great to be able to pres

[2022-04-06 12:52] tadashi-aikawa commented on #31
Hi, @hakonhagland. Thank you for your PR :)

Looks good me. I'll implement it 👍

[2022-04-06 13:47] hakonhagland commented on #31
@tadashi-aikawa Thank you!

[2022-04-07 11:07] chrisgrieser opened #32 "Feature Request: Visually Emphasis Starred Items"
I am using the starred Core Plugin, and I thought it would be a nice touch to add?

Looking through the console, it seems that this will output a list of all starred items:

[code]

[2022-04-09 11:18] tadashi-aikawa commented on #32
Hi, @chrisgrieser.

Looks good 👍

[2022-04-09 11:38] tadashi-aikawa commented on #29
I will try to implement in https://github.com/tadashi-aikawa/obsidian-various-complements-plugin/issues/114 👍

[2022-04-09 20:08] onepointfivem opened #33 "Feature Request: when enabling Show Directory, show full directory path"

[2022-04-10 07:32] tadashi-aikawa commented on #31
Looks good 😄

![2022-04-10](https://user-images.githubusercontent.com/9500018/162607624-f2f71511-68df-402b-a908-72ad46f82148.gif)

[2022-04-10 07:39] hakonhagland commented on #31
Fantastic job! I will test this now :smile:

[2022-04-10 07:41] hakonhagland commented on #31
It works perfectly here! Thank you!!

[2022-04-10 08:50] tadashi-aikawa commented on #32
Highlight with icons ☺️

![image](https://user-images.githubusercontent.com/9500018/162610282-a96a1a41-dd14-4375-a5eb-2f42124707cf.png)

If you use a theme that doesn't have a gutter or prefer another style, you need to customize `.another-quick-switcher__item` or `.another-quick-switcher__item::before` style.

[2022-04-10 08:56] chrisgrieser commented on #32
I actually do style Another Quick Switcher quite extensively in my theme 😆
So will do! however, I always disliked the Gutter in the Quick Switchers, since looks weird when there is nothing in it. A better solution could be to either place the star *after* the text, next to the folder, or to prepend it to the text, so you do not need a gutter?

[2022-04-10 09:00] tadashi-aikawa commented on #32
Probably, you can by customizing CSS. If you couldn't, it would be great to ask me here 👍

[2022-04-10 09:59] tadashi-aikawa commented on #30
Mmm.. It seems time for me to refactoring sort logic 😅

[2022-04-10 12:19] tadashi-aikawa commented on #30
As far as I tried, I added this feature without any option because there is little performance reduces.

[2022-04-10 12:37] tadashi-aikawa commented on #32
@chrisgrieser
Released [v4.8.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.8.0) 🚀

[2022-04-10 12:37] #32 closed

[2022-04-10 12:37] tadashi-aikawa commented on #31
@hakonhagland
Thank you for your quick confirming!

I Released [v4.8.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.8.0) 🚀

[2022-04-10 12:37] #31 closed

[2022-04-10 12:38] tadashi-aikawa commented on #30
@scpedicini

I released [v4.8.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.8.0) 🚀

Please confirm whether it works as you expected.

[2022-04-10 12:57] #26 closed

[2022-04-10 15:29] scpedicini commented on #30
![whole-word-search](https://user-images.githubusercontent.com/2040540/162626940-b3d1276a-ea7d-4b57-af26-efb23da34e23.png)

 @tadashi-aikawa Just ran the same query as last time, it looks great! At this point, Obsidian should just hire you to write the official quick switcher. 😁

[2022-04-10 17:10] chrisgrieser commented on #32
fantastic, the css class was already enough for me. 🤩

[code]

here's how it looks in my theme:
<img width="1047" alt="Screenshot 2022-04-10 19 08 52" src="https://user-images.githubusercontent.com/73286100/162631168-1ac78cd4-474d-4dae-8e83-338113a7a554.png">

[2022-04-11 13:32] #30 closed

[2022-04-12 20:23] hakonhagland opened #35 "How to wait for MarkdownView to become defined after creating new file?"
Hi. I have a question. I want to insert a template (frontmatter) that depends on the title of the note (actually it depends on which tags are present in the title) after I press `SHIFT+ENTER` in the switcher modal to create a new file.

I have written a private plugin that registers to the `create` event like this:

[code]

the `createFile()` method then tries to insert the frontmatter (but curren

[2022-04-13 00:23] tadashi-aikawa commented on #35
Hi, @hakonhagland

I think you can call `app.vault.adapter.append(filePath, content)`. It could add contents to the file directly without using the editor.

[2022-04-13 19:09] hakonhagland commented on #35
## Reply

Yes it seems to work fine if I feed it `file.path` from the `file: TFile` coming in to the `app.vault.on('create'...` callback. The problem is that the create event seems to be fired by the obsidian startup process also, so I need to separate out which create events I should handle (I only want those that are generated by the quick switcher when pressing `SHIFT+ENTER`). Another issue is

[2022-04-14 10:39] tadashi-aikawa commented on #35
Thank you for your details :)

I think that is the best workaround, too 👍

[2022-04-14 11:18] #35 closed

[2022-04-15 22:08] Aaron-Bopp opened #36 "FR: Open in Hover Editor"
Nothingislost just added this to the default quick switcher, but I would love to have this feature for the quick switcher I actually use :P
Obviously, this would require people to have the Hover Editor plugin as well. I'm not sure how possible inter-plugin operation like this works, but it would be greatly appreciated.

[2022-04-16 08:44] tadashi-aikawa commented on #36
Hi, @Aaron-Bopp. Thank you for your FR :)

It looks great. I'll try it with reference to https://github.com/nothingislost/obsidian-hover-editor/pull/41 👍

[2022-04-16 10:47] tadashi-aikawa commented on #36
@Aaron-Bopp
I have released to [v4.9.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.9.0) 🚀

Please confirm whether it works as you expected.

[2022-04-16 15:02] Aaron-Bopp commented on #36
Works great! Thank you so much!

[2022-04-16 15:02] #36 closed

[2022-04-17 08:20] tadashi-aikawa commented on #29
@waynemsmith
I have released `Various Complements` (not `Another Quick Switcher`) beta versions that include what you want.

If you use BRAT, I hope you can use them 🙏

[For details]
https://github.com/tadashi-aikawa/obsidian-various-complements-plugin/issues/114#issuecomment-1100829447

[2022-04-22 02:56] tadashi-aikawa opened #37 "Star recent search"
| Priority | Recent Search | Star Recent Search |
| -------- | ------------- | ------------------ |
| 1        | Last opened   | **Starred**        |
| 2        | Last modified | Last opened        |
| 3        | -             | Last modified      |
| 4        | -             | Filename matched   |

[2022-04-26 11:58] chrisgrieser commented on #37
I actually have already written a "starred items only" switcher as a templater script. Also sorts item's by recency. Feel free to use (parts) of the code if you want 🙂

[code]

[2022-04-27 15:05] tadashi-aikawa commented on #37
Thanks @chrisgrieser! 😄  I will refer to it 👍

[2022-04-29 11:06] chrisgrieser opened #38 "FR: Suggester that shows only files in the current folder"
pretty much what the title says. Might be useful to reduce noise.

just FYI, I also opened a similar issue at Quick Switcher++, since it could also fit them?
https://github.com/darlal/obsidian-switcher-plus/issues/44

[2022-04-29 12:14] tadashi-aikawa commented on #38
LGTM :)

[2022-04-30 14:37] tychovk opened #39 "FR: search specific metadata key: value"
# Use case
I love the ability to search for tags. However, I've found tags to be too limiting to describe what kind of note/type a note is, so I've switched to using mainly custom metadata as key plugins also use those (e.g. Breadcrumbs). However, using the search and metadata does not work well together.

# Solution
In navigating my vault, I would want to be able to use metadata as filters, e.g.

[2022-05-01 04:35] tadashi-aikawa commented on #39
Hi, @tychovk. Thank you for your FR :)

It is not easy to support it immediately, but I would like to do it in the future 👍

[2022-05-01 04:39] tadashi-aikawa commented on #29
I have released `Various Complements` [v6.0.0](https://github.com/tadashi-aikawa/obsidian-various-complements-plugin/releases/tag/6.0.0).

So let me close this issue :)

[2022-05-01 04:39] #29 closed

[2022-05-05 07:19] tadashi-aikawa commented on #28
@chrisgrieser @FelipeRearden
Coming soon 😉

https://user-images.githubusercontent.com/9500018/166876741-58412325-bba2-4a66-829c-883b8fd2f433.mp4

`Header search in file` in Another Quick Switcher is different from other plugins.

- Show all headers even after filtering to retain file structures in the brain
- Jump to the first hit suggestion automatically and move next/previous by `Tab/Shift+Tab`

[2022-05-05 07:52] chrisgrieser commented on #28
👁️👄👁️

[2022-05-05 09:12] FelipeRearden commented on #28
Looks AMAZING @tadashi-aikawa !!!!!!

👀 👀 👀

[2022-05-05 10:24] tadashi-aikawa commented on #28
OK. I'll release 👍

![2022-05-05](https://user-images.githubusercontent.com/9500018/166905283-d376aae8-7d44-40bd-8d57-89fc4efcfbd0.gif)

[2022-05-05 10:36] tadashi-aikawa commented on #28
@chrisgrieser @FelipeRearden
Released [v4.10.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.10.0) 🚀

[2022-05-05 11:15] FelipeRearden commented on #28
Thank you @tadashi-aikawa !!!

I'm starting my tests and I get back to you in less than an hour :)

[2022-05-05 11:54] FelipeRearden commented on #28
Hello @tadashi-aikawa !!!!

It’s absolutely amazing to see this Feature. I’m bring some ideas based on my workflow for us to talk about

🖥 My Environment -> Obsidian **Mobile** iPadOS with mouse and keyboard

# Ideas 💡

## 01. Open the Modal Focused in the nearby Header (based caret cursor)

**Example**

![59ACC410-FCD6-4AB4-9E54-07A632C95454](https://user-images.githubusercontent.com/85180696/166

[2022-05-05 13:38] tadashi-aikawa commented on #28
@FelipeRearden
Thank you for your kind report :)

Oh, it's cool! I have never noticed it because I don't have written many headers. I can probably implement it, but it seems not easy to scroll the current header center.

It doesn't jump to the top of the screen. However, wouldn't it jump to the center of the screen? I confirmed it (jump to center) on my devices, Windows PC, Android Phone, and iPad

[2022-05-05 14:21] chrisgrieser opened #40 "Bug: Duplicate Icons with Supercharged Links in Heading Search"
Not entirely sure whether the issue is on Supercharged Links' end, or this plugin's end, but the new heading search leads to duplicate headings

https://github.com/mdelobelle/obsidian_supercharged_links/issues/109

<img width="268" alt="Pasted image  2022-05-05 15 20 42" src="https://user-images.githubusercontent.com/73286100/166943255-b918d4fb-54cb-42dd-a05a-0566b0f8f611.png">

---

The plugin ad

[2022-05-05 14:28] chrisgrieser commented on #28
First of all, wow, this feature is way better than I could have imagined! 🥳
With the way this plugin works, I am now considering to turn of the outline core plugin.

---

Could there be an option to switch this around, e.g. make `tab` move to the next item, and make `down`/`cmd/ctrl+j` move to the next hit? Could be subjective, but I think this way would be more intuitive for me.

---

Also, I sup

[2022-05-05 14:53] tadashi-aikawa commented on #28
FYI: I think it's improved a bit.

- Support for Reading
    - Done (Same level as the QS++)
- Open Header in the Top of the Note
    - Reading mode is OK.
    - Editor mode is not, but same level as the QS++
- Open the Modal Focused in the nearby Header (based caret cursor)
    - In progress
- make tab move to the next item, and make down/cmd/ctrl+j move to the next hit?
    - In progress

[2022-05-05 14:58] FelipeRearden commented on #28
Thanks for feedback @chrisgrieser  :)

@tadashi-aikawa  once again is bringing to us a 💎

[2022-05-05 15:04] FelipeRearden commented on #28
In my case QS++ works for NoteA and don’t work for NoteB works for NoteC and don’t work for NoteD (I don’t know the english word to say that is just working in some cases)

👀 ❤️ 🚀 🙏 🎉

You area legend @tadashi-aikawa :)

[2022-05-06 00:52] tyf2018 commented on #28
The new function is great, and it would be even better if can jump to the corresponding position in the note after opening the header in reading mode.

[2022-05-06 02:43] tadashi-aikawa commented on #28
@chrisgrieser @FelipeRearden @tyf2018
I have released [4.11.0-beta3](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.11.0-beta3) 🚀

Please confirm it via BRAT 🙏

[2022-05-06 02:59] tyf2018 commented on #28
Great, read mode works fine too.
Your efficiency is amazing!

[2022-05-06 05:06] tadashi-aikawa commented on #40
Probably, it doesn't need to add an icon on `Heading search`. When there is `another-quick-switcher__item__title__header` class, you will get it as expected if `Supercharged Links` ignore the operation.

![image](https://user-images.githubusercontent.com/9500018/167070392-f8a6cd90-3b51-406f-a62e-7bc960288451.png)

[2022-05-06 06:40] meskill commented on #33
+1 for this feature, as for me I have such picture sometimes.

![image](https://user-images.githubusercontent.com/8974488/167080054-c3d0cd44-bc6c-4fbf-81da-2372df487166.png)

[2022-05-06 09:49] chrisgrieser commented on #28
- Reading Mode works
- Scrolling works, too 👍

[2022-05-06 11:07] tadashi-aikawa commented on #33
Thank you for sharing your backgrounds :)

[2022-05-06 11:09] tadashi-aikawa commented on #28
@FelipeRearden
How about the above case?

[2022-05-07 08:05] tadashi-aikawa commented on #28
@FelipeRearden
Thanks! That's great 😄

[2022-05-07 08:38] tadashi-aikawa commented on #28
`Eliminate unnecessary decorations as headers`

https://user-images.githubusercontent.com/9500018/167246455-5a95b1e3-923b-4a81-9253-ce341797f24b.mp4

[2022-05-07 09:13] FelipeRearden commented on #28
Fantastic Idea @tadashi-aikawa !!!!!!!!!!!

👀 would be great if it could eliminate html tags like in this header …

`###### Videos <s id=rr>Lorem Ipsum</s> `

[2022-05-07 10:02] tadashi-aikawa commented on #28
Maybe, OK. It was more complicated than I could have imagined, but works 😅

https://user-images.githubusercontent.com/9500018/167249445-e29d10b1-72e9-44e4-afc7-ff7cd479347b.mp4

[2022-05-07 10:05] FelipeRearden commented on #28
🎉 🎉 🎉 Absolutely fantastic @tadashi-aikawa !!!!!!!!

Thank you very much for this feature 💙

[2022-05-07 10:50] tadashi-aikawa commented on #28
Only one left

[2022-05-07 11:12] FelipeRearden commented on #28
@tadashi-aikawa !!!!

I have one more idea about this FR to share with everybody

It's very simple to explain -> **If a header is FOLD, when we select a Header from the Modal, it will open it !**

## My Workflow

I have a bunch of notes that I call cheatsheet for a quick access of the documentation from every workflow that I have in my vault

🎥 A Example from my sources capture workflow
![video](h

[2022-05-07 12:16] tadashi-aikawa commented on #28
@chrisgrieser @FelipeRearden @tyf2018
I have released [4.11.0-beta4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.11.0-beta4) 🚀

- It includes all implementations about this issue 🦾 (except for folding issue)
- If there are no critical problems, I'll release it tomorrow officially

@FelipeRearden
 I'll try to implement your latest feature request in the next ver

[2022-05-07 12:19] tadashi-aikawa commented on #28
@chrisgrieser
You can customize keys here :)

![image](https://user-images.githubusercontent.com/9500018/167254132-aafd6ba5-8654-4a69-87d6-ffce036c0f6f.png)

[2022-05-07 12:25] FelipeRearden commented on #28
Thank you very much @tadashi-aikawa !!!!

I'm starting tests right now and I get to you in less than an hour 🚀

Thank you very much for considering this new feature and for trying to implement 🍀

[2022-05-07 12:29] chrisgrieser commented on #28
fantastic, works great, thanks! 🤩

I tried it out and I noticed that `move to next/previous hit` doesn't do anything when I didn't enter at least one letter as query? Is this intended?

Because I can also see the heading search to be useful to quickly switcher to a heading when you only have a few. And in *that* case, you might simply wanna navigate down, without entering a search query. But then

[2022-05-07 13:10] FelipeRearden commented on #28
In my humble opinion, it's a spectacular idea @chrisgrieser !

[2022-05-07 13:17] FelipeRearden commented on #28
## My Environment

A brand new vault on Obsidian 0.14.6
the same long note that I have been using for the stress test

ℹ️ After the public release I will redo the tests on iPadOS

## Test Items

1️⃣ **Respect a header position both after opening dialog and after filtering (#28)**

✅ Live Preview
✅ Source Mode

2️⃣ Eliminate unnecessary decorations as headers (#28)

✅ Reading Mode
✅ Live Preview
✅

[2022-05-07 14:22] tadashi-aikawa commented on #28
@chrisgrieser
Thanks for your quick feedbacks!

Yes. This feature was intended to move search results.

However, your suggestion would be helpful for some users, and not much of disadvantages. So I'll implement it 👍

[2022-05-07 14:24] tadashi-aikawa commented on #28
@FelipeRearden
Thank you for your quick feedback and tests!

Your work is very helpful because I don't have enough times to verify all supported OS and modes ☺️

[2022-05-07 14:35] tadashi-aikawa commented on #28
@chrisgrieser @FelipeRearden
Released [v4.11.0-beta5](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.11.0-beta5) 🚀

[2022-05-07 14:39] FelipeRearden commented on #28
@tadashi-aikawa thank you very much for this comment 😀

I'm extremely happy to know that my tests are helpful. Means a lot to me 😁

You can always count on me to do the tests. I will work hard on every beta release to tests many scenarios as possible 💙

[2022-05-07 14:44] FelipeRearden commented on #28
Starting tests now 🚀 I get back in a few minutes .....

[2022-05-07 15:09] FelipeRearden commented on #28
Let's wait for @chrisgrieser  feedback but If I understood correctly, working perfect on version `4.11.0-beta5` on Obsidian `0.14.6`

**Details below** 🔽

*I set all hotkeys to one of the two options and test the behavior between `EMPTY/NOT_EMPTY` on LP, READING and SOURCE MODE*

## Scenario 1: All Hotkeys = `navigate`

🧮 **Expected Results**

ℹ️ Empty Text field = `navigate`

| Hotkey        | Li

[2022-05-07 15:30] tadashi-aikawa commented on #28
@FelipeRearden
Wow! Professional work!! Thank you!! 😄

One more piece of good news. I succeed to implement "Respect a header position both after opening dialog and after filtering" not only editor mode but **also reading mode** ✨

https://user-images.githubusercontent.com/9500018/167261044-40d1cfd5-9656-4765-8271-97cd615c5c61.mp4

[2022-05-07 15:40] FelipeRearden commented on #28
Thank you very much @tadashi-aikawa !!!!! 💙 💙 💙

That's a huge and amazing good news !!!!!!!

Spectacular @tadashi-aikawa !!!!!!

I must say that we have one of the most amazing feature of a plugin for Reading Mode related to the act of 📖 reading on Obsidian 👀

As someone who reads Obsidian notes that are long on Reading Mode with an iPadMini, I have to say that this is a ground breaking feature.

[2022-05-07 15:45] tadashi-aikawa commented on #28
@FelipeRearden
Released [4.10.0-beta6](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.11.0-beta6) 🚀

I wish it works on iPad 🙏

[2022-05-07 16:00] FelipeRearden commented on #28
Starting tests now 🚀....

I'm gonna create an Vault test on iPad and we will find out 🙏

[2022-05-07 16:20] FelipeRearden commented on #28
One tiny detail about the new feature on `beta-6` only on **Reading Mode**

🖥 Obsidian 0.14.6 - My Long Note that I'm using to test

What I'm seeing is this:

_I'm navigating using the mouse and I click under a header 1.1 for example_

--> **When I open the Modal, it is always ONE STEP ABOVE from where I am**

Example 1:

├── 1. Heading [MODAL is HERE]
│ └── 1.1 Heading [I am HERE]
│   └──  1.1.1

[2022-05-07 17:36] chrisgrieser commented on #28
Works as intended – thank you! 🚀

[2022-05-07 17:39] tadashi-aikawa commented on #28
Thanks @FelipeRearden :)

Unlike the editor mode, the concept of a cursor does not exist in the reading mode. Therefore AQS decides the current header from the scroll position.

In other words, "click mouse inside the header" affects nothing.

Perhaps, your "reading view" supposes to be like the one below.

![image](https://user-images.githubusercontent.com/9500018/167265495-96858268-78d7-4a57-911

[2022-05-07 17:46] FelipeRearden commented on #28
Perfect @tadashi-aikawa !!! You nail it 🎯

Everything is perfect  with AQS my usage was biased when we have only one header in the top of the screen it's working perfect

You are a legend -> It will took me 100 years to get this :)

---

All said, for me `beta-6` is working-effect here :)

[2022-05-07 19:13] chrisgrieser commented on #28
I honestly can't think of anything else to improve. Think you can move this out of beta and close this issue! 🚀

[2022-05-07 19:25] FelipeRearden commented on #28
@chrisgrieser I think @tadashi-aikawa will try to implement this idea that I had before the merge

[2022-05-08 03:02] tadashi-aikawa commented on #28
Ah, sorry, `next version` is not `v6.11.0` but `v6.12.0`. So I'll release `v6.11.0` without your FR.

[2022-05-08 04:33] tadashi-aikawa commented on #28
Released [v4.11.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.11.0) 🚀

Thanks a lot!!

[2022-05-08 04:33] #28 closed

[2022-05-08 10:15] FelipeRearden commented on #28
Starting tests on iPadOS on version `4.11.1` right now 🚀

I get back to you in less than 30 minutes ....

[2022-05-08 10:19] FelipeRearden commented on #28
Sorry @tadashi-aikawa for my misunderstanding :)

Great! I will Keep my eyes on the next version to do the tests :)

Let me know if you want me to open a new issue specially to this FR :)

[2022-05-08 10:42] FelipeRearden commented on #28
1️⃣ Support "reading view"
2️⃣ Eliminate unnecessary decorations as headers
3️⃣ Respect a header position both after opening dialog and after filtering
4️⃣ Enable to change hotkeys about navigate and move to hit in the "header search in file" dialog
5️⃣ "move to next/previous hit" works just like "navigate" when the input query is empty
6️⃣ Fix a bug that doesn't scroll correctly on some files

✅

[2022-05-08 13:39] tadashi-aikawa commented on #28
@FelipeRearden
Thank you for your confirmation! It looks good 👍

Yes, please 🙏

[2022-05-08 13:56] FelipeRearden opened #42 "[Feature Request] Heading Search -> Unfold Fold Headers"
This FR was generated by a comment that is here
📎 https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/28#issuecomment-1120189569

@tadashi-aikawa !!!!

I have one more idea about this FR to share with everybody

It's very simple to explain -> **If a header is FOLD, when we select a Header from the Modal, it will open it !**

## My Workflow

I have a bunch of notes that I call

[2022-05-08 13:58] FelipeRearden commented on #28
Thanks 😀

Sure ! Done here in #42

Have a great day @tadashi-aikawa ☀️

[2022-05-09 00:25] tadashi-aikawa commented on #28
Next stage ➡️  https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/41

[2022-05-09 20:05] japanese-goblinn opened #43 "Bug: Broken backlink if add fragment to file link"
I create a link from the file `A.md` to the file `B.md` like this `[B](B.md#some_h1_heading)` and obsidian handles this correctly but when I try to use plugins backlinks search and jump back to mention of `B.md` in `A.md` it's not working 😢

[2022-05-10 02:23] tadashi-aikawa commented on #43
Hi, @japanese-goblinn. Thank you for your bug report :)

I could reproduce it 👍

[2022-05-10 11:34] tadashi-aikawa commented on #42
It seems to be difficult..

[2022-05-10 11:58] FelipeRearden commented on #42
In my user mind I think this would be a difficult one :) (especially on Reading Mode) :)

Feel absolutely free to close this FR whenever you want :)

Thanks for trying @tadashi-aikawa !!!!! 😀

[2022-05-10 13:04] tadashi-aikawa commented on #43
@japanese-goblinn
I have released [v4.12.0-beta3](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.12.0-beta3) 🚀

If you use [BRAT](https://github.com/TfTHacker/obsidian42-brat), please confirm whether it works as you expected.

If you don't use it, please wait for a next release, v4.12.0.

[2022-05-10 13:19] tadashi-aikawa commented on #42
If there were an API that tells the Fold/Unfold status, it would be easy, but I have not found such an API.

So I'll leave this issue 👍

[2022-05-10 16:33] japanese-goblinn commented on #43
thanks! not using BRAT some i'll wait for release

[2022-05-10 23:15] tadashi-aikawa commented on #43
@japanese-goblinn
Released [v4.12.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.12.0) 🚀

[2022-05-14 09:40] tadashi-aikawa commented on #37
Released [v4.13.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.13.0) 🚀

[2022-05-14 09:40] #37 closed

[2022-05-14 09:41] tadashi-aikawa commented on #33
@meskill @onepointfivem
I have released [v4.13.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.13.0) 🚀

[2022-05-14 09:41] #33 closed

[2022-05-14 09:42] tadashi-aikawa commented on #33
![image](https://user-images.githubusercontent.com/9500018/168420404-6060d13a-7da6-46e3-891a-6a69aeef36d4.png)

[2022-05-15 04:48] chrisgrieser opened #44 "Feature Suggestion: Open Note Linking to Unresolved Link instead of Unresolved Link"
I noticed that I actually use AQS not to create unresolved links, but rather delete the link as soon as I find them via AQS. So I was wondering whether it would be possible to have an option to open the note that creates does the unresolved linking instead of opening the unresolved, so that you can easily remove it?

either globally via settings, or as yet another modifier action in the prompt.

[2022-05-15 04:49] avirosso opened #45 "[Feature Request] : Link Search"
A 'link search' would be great (like the 'backlink search', but based on the links of the note)

To search/open links from the note to other notes without leaving from keyboard.

Search query could start with ":l "like ":l hoge".

Thanks in advance!

[2022-05-15 11:37] japanese-goblinn opened #46 "[Feature Request] Ability to remove ghost image for non existing items"
I'd like to have this setting so that search items looks more consistent

<img width="636" alt="image" src="https://user-images.githubusercontent.com/33631005/168470765-4504fcdd-b544-4f1e-8cad-a8bb1ac724fe.png">

[2022-05-17 15:15] japanese-goblinn commented on #46
Hey! Well, I'm not star my notes, but I guess it'll be nice too. For now I think it'll fine to add smth like "show accessory images" toggle (or "minimalist mode" but it's not super descriptive) and add description that this disable/enable stars and other possible images in future.

[2022-05-19 17:16] tadashi-aikawa commented on #44
Me, too :) But I think it is a bit complicated situation. So if anyone else agrees with the suggestion, I want to consider it.

[2022-05-19 17:19] tadashi-aikawa commented on #45
Hi, @avirosso. Thank you for your FR :)

There is a possibility of implement that. By the way, does [jump to link](https://github.com/mrjackphil/obsidian-jump-to-link) plugin satisfy your desire?

[2022-05-19 17:31] avirosso commented on #45
Thank you! (Regarding the 'jump to link'-Plugin: I've tested it, but it's too ugly and buggy ;-)

[2022-05-28 10:25] tadashi-aikawa commented on #45
Sorry for my late answer. OK. 👍

[2022-05-30 09:26] chrisgrieser opened #47 "FR: Numbers for quicker result selection"
some apps offer shortcuts to select specific search results, to save one from repeatedly clicking arrow-down or cmd/ctrl+j to get to a certain search result. Maybe something in that regard could also be a nice feature for AQS?
![image](https://user-images.githubusercontent.com/73286100/170961951-ae87e150-6c54-4568-af63-a5e087553dee.png)

[2022-05-31 23:49] chrisgrieser opened #48 "Default location for notes created via ` shift + return`"
I started creating notes via `shift + return` from AQS more often. I noticed that the Beweis created notes are always placed at the vault root. Could there be a setting to set a default location for those new notes?

[2022-06-01 00:09] tadashi-aikawa commented on #48
@chrisgrieser
If you set "Folder to create new notes in", AQS creates notes under the specified folder.

![image](https://user-images.githubusercontent.com/9500018/171303277-6ee13de9-2dcc-449b-a6f4-7609ff1b09ae.png)

[2022-06-01 07:23] chrisgrieser commented on #48
Oh, how did I miss this 🙈 🤦

My bad, sorry!

[2022-06-02 01:58] tadashi-aikawa commented on #48
Thank you for your suggestion :)

But I think it doesn't need to because there are consistencies.

[2022-06-07 11:41] tadashi-aikawa commented on #47
Does it satisfy your requirements by changing from

[code]

to

[code]

?

[2022-06-07 11:50] chrisgrieser commented on #47
sure, that would also work!

You can also simply add these to the `styles.css`, which would result in the same `[2]`, but woudl be more easier for theme devs to style
[code]

[2022-06-08 01:42] tadashi-aikawa commented on #47
@chrisgrieser
Released in `v4.13.0-beta2` 🚀

[2022-06-08 10:34] chrisgrieser commented on #47
Thanks! Now I could easily style the hotkey numbers the same way I style other hotkey information in my theme 😌
<img width="1037" alt="Pasted image 2022-06-08 12 32 53" src="https://user-images.githubusercontent.com/73286100/172595737-c5202373-0a5f-4f47-91a8-db76556c087f.png">

Can't think of anything else to improve here 🙂

[2022-06-08 10:34] #47 closed

[2022-06-12 07:00] tadashi-aikawa commented on #46
Released in [v4.14.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.14.0) 🚀

[2022-06-12 07:00] #46 closed

[2022-06-12 07:01] tadashi-aikawa commented on #47
Released [v4.14.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/4.14.0) 🚀

[2022-06-12 10:41] brimwats commented on #21
big +1 from me

[2022-06-13 09:12] chrisgrieser opened #51 "Hotkey Guides Conflict with Supercharged Links"
Not sure what causes this, but the hotkey guides seem to do something with the DOM, so that the Supercharged Links Icons stop working for the entries with hotkey guide, while all others still work? 😵‍💫

(potentially related to #40?)

See also https://github.com/mdelobelle/obsidian_supercharged_links/issues/122

![image](https://user-images.githubusercontent.com/73286100/173320629-9761e81e-b67f-43d

[2022-06-13 13:37] tyf2018 opened #52 "[Feature Request] : Shortcut keys customization"
The new features in version 4.14 are very useful!

A small suggestion, the shortcut key of Ctrl+Number, can users customize it as Alt+Number key? Because I think Alt+Number is easier to press.

Best regards.

[2022-06-17 14:52] FelipeRearden opened #53 "[Feature Request] Open Normal Search at Specific Folder Path"
Hello @tadashi-aikawa !!!!!!!!!

My FR is related to open the AQS **at a specific folder path**

📸 Something like this:
![8388816C-CB0F-46FF-8F43-9195AFA6E19E](https://user-images.githubusercontent.com/85180696/174321408-84c4f7eb-640d-4d3c-b67e-f658170ceda5.jpeg)

## My Workflow

My entire vault is folder based. I use [Johnny Decimal](https://johnnydecimal.com) folder strategy to organize the cont

[2022-06-18 05:40] tadashi-aikawa commented on #51
Hi, @chrisgrieser.

Would you tell me the reproduction procedure in sandbox vault? I don't use `Supercharged Links` and could not make the situation.

[2022-06-18 05:41] tadashi-aikawa commented on #52
Hi, @tyf2018.

OK. I'll add the option in next release 👍

[2022-06-18 05:56] tadashi-aikawa commented on #53
Hi, @FelipeRearden. Thank you for your FR :)

I think your FR is similar to the following issues.

- #19
- #38

Do your requirements satisfy if the above two issues are resolved?

[2022-06-18 09:29] tadashi-aikawa opened #54 "Search from headers"
Coming soon 🚀

https://user-images.githubusercontent.com/9500018/174431665-9077c3c8-cbca-43a4-8f4c-7115f888b0dc.mp4

[2022-06-18 09:37] tadashi-aikawa commented on #54
But it reduces performance.

![image](https://user-images.githubusercontent.com/9500018/174431920-b992ca56-53ed-4354-90ce-b87c83617de4.png)

[2022-06-18 10:36] FelipeRearden commented on #53
Hello @tadashi-aikawa !!!!

Thank you for your reply :)

@tadashi-aikawa I think my FR has an indirect connection to these two FR. Let me explain :)

├── FR 19
&nbsp;&#160; &nbsp;&#160; └── FR 53 (My FR) 🙏
&nbsp;&#160; &nbsp;&#160; &nbsp;&#160; &nbsp;&#160;               └──  FR 19

FR-38 is about open  the modal at the **active folder path** which could be an feature inside my FR where we could h

[2022-06-18 13:26] #54 closed

[2022-06-18 13:35] tadashi-aikawa commented on #54
Released in [v5.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.0.0) 🚀

[2022-06-18 13:35] tadashi-aikawa commented on #52
Released in [v5.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.0.0) 🚀

[2022-06-18 13:35] #52 closed

[2022-06-18 13:44] tadashi-aikawa commented on #53
Thank you for your kind explanation. I agree with you 👍

Maybe I'll implement these features in the next big release :)

[2022-06-18 13:59] FelipeRearden commented on #53
💙

Thank you very much @tadashi-aikawa for considering my FR in future version of AQS :)

I wish you a fantastic day!

[2022-06-19 06:13] kometenstaub opened #55 "Use only ctrl or cmd in instructions depending on OS"
It would be great to declutter the instructions.

I think it could be done by setting a variable to either ctrl or cmd depending on the OS.

https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/blob/5b34145b37287b7580f7f5a7c0da01b681ec946e/src/ui/AnotherQuickSwitcherModal.ts#L291-L293

In one of my plugins, I do it like this.
https://github.com/kometenstaub/obsidian-linked-data-vocabu

[2022-06-19 06:30] tadashi-aikawa commented on #55
Hi, @kometenstaub. Thank you for your sharing :)

I agree with you 👍

[2022-06-19 08:31] kometenstaub opened #56 "manifest version and release version are different"
There is no release for `5.0.1`, only a git tag.

[2022-06-19 08:48] tadashi-aikawa commented on #56
Oh.. Thank you and fix it!

[2022-06-19 08:48] #56 closed

[2022-06-19 09:46] #55 closed

[2022-06-20 10:15] kometenstaub opened #58 "respect new file location"
Currently, all newly created files get created in the vault root.

It would be great if the new file location setting could be respected.

[code]

[2022-06-20 12:46] tadashi-aikawa commented on #58
Hi, @kometenstaub.

Various Complements already respect the following options.

![image](https://user-images.githubusercontent.com/9500018/174604616-907fad20-1015-45a8-bc8a-ca944742892d.png)

Does it satisfy your requirements?

[2022-06-20 12:47] tadashi-aikawa commented on #58
Hi, @kometenstaub.

Another Quick Switcher already respect the following options.

![image](https://user-images.githubusercontent.com/9500018/174604616-907fad20-1015-45a8-bc8a-ca944742892d.png)

Does it satisfy your requirements?

[2022-06-20 12:50] kometenstaub commented on #58
Huh, that's odd. That's the option I mean.
For me it placed all the files at the vault root although I was in a folder. I'll try to repro.

[2022-06-20 12:51] tadashi-aikawa commented on #58
If you can reproduce it in the sandbox vault, it will be very helpful for me :)

[2022-06-20 13:03] kometenstaub commented on #58
Yes I can reproduce it in the sandbox vault with the same folder as current file option on Obsidian 0.15.2

[2022-06-20 13:09] kometenstaub commented on #58
The code looks whether there is a folder in the query with regex, but it doesn't checkt the default file location setting.

https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/blob/5fea94cd2aadb480b23b125f0a0080e85bb1a976/src/app-helper.ts#L266-L278

[2022-06-20 13:15] tadashi-aikawa commented on #58
Could you tell me the reproduction procedure? (especially the options)

[2022-06-20 13:32] tadashi-aikawa commented on #58
Thanks. What are the following settings?

![](https://user-images.githubusercontent.com/9500018/174604616-907fad20-1015-45a8-bc8a-ca944742892d.png)

[2022-06-20 13:37] kometenstaub commented on #58
![screenshot](https://user-images.githubusercontent.com/83140328/174613852-662e354d-343c-4162-a106-5e9b3a8c6090.png)

[2022-06-21 05:20] tadashi-aikawa commented on #58
Released in [v5.0.2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.0.2) 🚀

[2022-06-21 05:20] #58 closed

[2022-06-21 05:22] tadashi-aikawa commented on #58
Ah.. I had mistaken 😅

[2022-06-21 05:27] tadashi-aikawa commented on #58
OK. fixed in [v5.0.3](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.0.3).

[2022-06-21 08:25] kometenstaub commented on #58
Thank you! :)

[2022-06-21 10:22] torstenkoepke opened #59 "Error starting up switcher since 5.0.3"
I am getting this error with the current Obsidian insider and switcher version 5.0.3.

Before the latest switcher update the switcher worked like expected.

plugin:obsidian-another-quick-switcher:291 Uncaught Error: Unexpected error: newFileLocation is invalid
    at AppHelper.getPathToBeCreated (plugin:obsidian-another-quick-switcher:291:23)
    at AppHelper.createPhantomFile (plugin:obsidian-ano

[2022-06-21 10:27] tadashi-aikawa commented on #59
Hi, @torstenkoepke. Thank you for your bug report :)

Could you tell me the output of `app.vault.config.newFileLocation` in devtools?

![image](https://user-images.githubusercontent.com/9500018/174778509-49d96eff-c442-437a-84aa-5336d94c7235.png)

[2022-06-21 10:38] tadashi-aikawa commented on #59
Ah... I have found the cause. I'll fix and release soon.

[2022-06-21 10:39] torstenkoepke commented on #59
Thanks a lot @tadashi-aikawa for the very fast response and action!

[2022-06-21 10:44] tadashi-aikawa commented on #59
@torstenkoepke
Fixed in [v5.0.4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.0.4) 🚀

Please confirm it 😄

[2022-06-21 10:49] torstenkoepke commented on #59
From bug to applied fix in 21 mins - congrats @tadashi-aikawa !

[2022-06-21 10:50] #59 closed

[2022-06-21 11:19] tadashi-aikawa opened #60 "Search by links"

[2022-06-21 12:05] tadashi-aikawa commented on #60
![image](https://user-images.githubusercontent.com/9500018/174795038-b4e130ce-3295-47ff-8236-acdd07549e9a.png)

[2022-06-21 13:19] tadashi-aikawa commented on #60
![image](https://user-images.githubusercontent.com/9500018/174809174-0ccf5115-e877-4c71-8ca8-6f9ffd50a067.png)

[2022-06-21 13:20] tadashi-aikawa commented on #60
![image](https://user-images.githubusercontent.com/9500018/174809244-04b79c84-f3a6-4ccc-9541-e0ec16e8b791.png)

[2022-06-25 08:28] kometenstaub opened #63 "[feat] open in pop-out window"
I would appreciate another option that lets me open a file in a pop-out window (Obsidian 0.15+) instead of just in a hover editor.

[2022-06-25 08:30] kometenstaub commented on #21
I'd also like to have this feature.

[2022-06-25 10:59] tadashi-aikawa commented on #63
Hi, @kometenstaub. Thank you for your FR :)

I want to, but in my Windows environment, it shows the following popup instead of the one we expected.

![image](https://user-images.githubusercontent.com/9500018/175770454-fc039adf-44f5-4d4f-8f4d-4796040071c8.png)

I had attempted three ways (not in public API), but they were the same 😇

- `app.workspace.openPopout`
- `app.workspace.openPopoutLeaf`
- `

[2022-06-25 11:45] kometenstaub commented on #63
That should work though:

https://github.com/zsviczian/obsidian-excalidraw-plugin/blob/08e4e1f131023bf2264f83d4a8345bbb9081edd7/src/main.ts#L1798

[2022-06-25 11:48] tadashi-aikawa commented on #63
That uses `app.workspace.openPopoutLeaf` and not working in my environment.

[2022-06-25 11:56] kometenstaub commented on #63
Huh, that's odd. It's working for me on Linux on 0.15.2.

[2022-06-25 11:57] tadashi-aikawa commented on #63
Maybe it is a problem about Windows...

[2022-06-25 12:01] tadashi-aikawa commented on #63
Mmm... Excalidraw can open new pop-out window in my environment !?

[2022-06-25 12:01] tadashi-aikawa commented on #63
I continue to survey 👍

[2022-06-25 12:52] tadashi-aikawa commented on #63
It works in `onChooseSuggestion` method 🤔

[2022-06-25 13:04] tadashi-aikawa commented on #63
I figured out how the problem was caused.

That is very strange... it causes **when push Ctrl key and open pop-out window**.

So should I give up on assigning this feature to hotkeys with the `Ctrl` key? 😭

[2022-06-25 13:10] kometenstaub commented on #63
Ah, I can reproduce.

![screenshot](https://user-images.githubusercontent.com/83140328/175774857-e30b2092-65fd-4e15-8574-74b2f72fc2b6.png)

![screenshot2](https://user-images.githubusercontent.com/83140328/175774868-237d3830-cd5d-44ba-a055-7f99c06d5c9e.png)

[2022-06-25 13:14] kometenstaub commented on #63
It does work with something like `mod-H` though

[2022-06-25 13:16] tadashi-aikawa commented on #63
Looks good! There is no need to include Enter. And easier to push 👍

[2022-06-25 13:18] kometenstaub commented on #63
I'm not saying that it's the hotkey to choose, but it's probably not the worst choice.

[2022-06-25 13:45] tadashi-aikawa commented on #63
@kometenstaub
Released in [5.1.0-beta3](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/62#discussion-4162184) 🚀

I ended up to assigned `Mod + p` and `Mod + Shift + p` keys from `P` in `Popout`.

Thank you again for the opportunity that noticed me how to implement this feature. I have wanted to open the files in AQS, so I'm very glad now 😄

[2022-06-25 13:49] kometenstaub commented on #63
That seems to clash with emacs keys, which cannot be turned off.

[2022-06-25 13:51] tadashi-aikawa commented on #63
Ah.. I forgot it 😅

[2022-06-25 13:58] tadashi-aikawa commented on #63
Released in [5.1.0-beta4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/62#discussion-4162184) that uses `Mod + o` and `Mod + Shift + o` 🚀

[2022-06-25 14:02] kometenstaub commented on #63
Works beautifully, thank you! :)

[2022-06-25 14:02] #63 closed

[2022-06-25 17:57] kometenstaub opened #64 "[feat] when no result is found, create note from query in same pane on enter"
When creating notes on my phone, I like using the quick switcher for it because there isn't much space for extra buttons.

When there is no search result, it would be great if a note could be created from the query on enter. This would match the default quick switcher behaviour and also make creating notes on devices without external keyboards possible.

[2022-06-25 18:40] kometenstaub opened #65 "[bug] mod-1-9 stopped working"
I'm not sure when it appeared, but I cannot use mod-[digit] anymore to open a note.

[2022-06-25 18:40] kometenstaub commented on #65
Sorry, my mistake, it works fine.

[2022-06-25 18:40] #65 closed

[2022-06-26 01:13] tadashi-aikawa commented on #64
I will try to add a "create button" for mobile because if it uses Enter, I often create a new file unintentionally without noticing there is no result.

[2022-06-27 12:20] chrisgrieser commented on #51
Hi, sorry for the late response.

Reproducing it is a bit complicated, since you need some setup. So I made a "minimal test vault" for you, where I reproduced the issue (same as above, all notes should get the icon).

➡️ [AQS Debug Test Vault.zip](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/files/8991841/AQS.Debug.Test.Vault.zip)

**some notes**
- I use Obsidian 0.14.15, with

[2022-06-27 12:23] chrisgrieser opened #66 "Update issue on Obsidian public release (0.14.15)"
While creating the test vault for #51, I noticed that seems to be a small issue with AQS installing the wrong version for users with Obsidian 0.14.15. According to your release notes, it is only from AQS 5+ that Obsidian 0.15+ is required. However, when installing AQS in a new vault, it does not install AQS 4.14, but AQS 4.9.

[2022-06-27 12:34] tadashi-aikawa commented on #66
Thank you @chrisgrieser :)

I have fixed it. Could you confirm it?

[2022-06-27 13:56] chrisgrieser commented on #66
can confirm, works now!

[2022-06-27 13:56] #66 closed

[2022-06-27 15:36] tadashi-aikawa commented on #51
Thanks! I’ll try it at a later :)

[2022-06-28 00:56] tadashi-aikawa opened #67 "Layout broken in Obsidian v0.15.3"

[2022-06-28 01:41] tadashi-aikawa commented on #67
![image](https://user-images.githubusercontent.com/9500018/176068813-a8c6c647-e5d2-4588-9dc5-e6070dcf5a38.png)
![image](https://user-images.githubusercontent.com/9500018/176068816-2c57f027-86cb-4d43-b1ca-6263455d156f.png)

[2022-06-28 03:13] tkCreate opened #68 "Bug: cannot show all headers in file"
Cannot show entire headers with the header search in file function, which seems with header number limitation. Hoping the function can be fixed in the future version.
![](https://cloudimg001.oss-cn-shenzhen.aliyuncs.com/image/202206281107793.png)

[2022-06-28 03:17] tadashi-aikawa commented on #68
Hi, @tkCreate :)

Could you tell me the reproduction procedure? I didn't know what your problem was.

[2022-06-28 03:26] tadashi-aikawa commented on #68
Hi, @tkCreate. Thank you for your bug report :)

I confirmed that there is the Obsidian's default setting that limits suggestions 100. I'll increase it in the next version 👍

[2022-06-28 03:32] tkCreate commented on #68
Hi author!  Sorry, I don't know how to describe the reproduction procedure, but there is inconsistence between the header seach result and the outliner content.
As the issue picture is shown, the outline content is much more than the search result. The content tree cannot be fully shown by header search function.

It is weired from what I have seemed. The cmd function can show all function of obsi

[2022-06-28 03:37] tadashi-aikawa commented on #68
Thank you @tkCreate :)

My browser didn't display your screenshots the first time. The next time, I could see them and understood what you wanted 👍 (This is the reason I deleted my first reply to you 😅 )

[2022-06-28 03:38] tkCreate commented on #68
I have set suggestions to be shown with the maximum limit, which seemed to with no help.
Thank you for replying the bug report!
![](https://cloudimg001.oss-cn-shenzhen.aliyuncs.com/image/202206281136678.png)

[2022-06-28 03:48] tadashi-aikawa commented on #68
@tkCreate
Do you use Obsidian v0.15.3 and BRAT? If you use them, it would be helpful to confirm the next beta version.

[2022-06-28 04:29] tkCreate commented on #68
currently, I am using the version v0.14.15, and using the lastest version of the plugin.
![](https://cloudimg001.oss-cn-shenzhen.aliyuncs.com/image/202206281228825.png)
![](https://cloudimg001.oss-cn-shenzhen.aliyuncs.com/image/202206281229572.png)

[2022-06-28 04:36] tadashi-aikawa commented on #68
Thanks.

Another Quick Switcher v5.x.x supports Obsidian, whose version is more than v0.15.0. So please wait for the official release of Obsidian v0.15 :)

[2022-06-28 04:42] tkCreate commented on #68
thanks for the advice, I will change it with the lastest official release version. XD

[2022-06-28 04:47] tadashi-aikawa commented on #67
Fixed in [v5.1.2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.1.2) 🚀

[2022-06-28 04:47] #67 closed

[2022-06-28 04:48] tadashi-aikawa commented on #68
Fixed in [v5.1.2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.1.2) 🚀

[2022-06-28 04:48] #68 closed

[2022-06-28 04:48] tadashi-aikawa commented on #60
Released in v5.0.0.

[2022-06-28 04:48] #60 closed

[2022-06-28 04:59] tkCreate commented on #68
Hi author! thanks for such fast repairment, btw how to get the lastest v0.15.0 of obsidian? the latest release is v0.14.15 from the offical release.

[2022-06-28 06:48] tadashi-aikawa commented on #68
Yes, but the latest release of insider version is v0.15.3.

- https://forum.obsidian.md/c/announcements/13
- https://help.obsidian.md/Advanced+topics/Insider+builds

[2022-06-28 09:49] kometenstaub commented on #51
Hotkey guide should be appended to item__entry not item__title.

Then they are next to the folders, however, so the CSS would need to be updated.

[2022-06-28 12:12] #51 closed

[2022-06-28 12:13] tadashi-aikawa commented on #51
Thx! @kometenstaub

[2022-06-28 12:17] tadashi-aikawa commented on #51
I'll fix soon for mobile.
![image](https://user-images.githubusercontent.com/9500018/176176355-56dfae63-b5c6-447a-a781-9a101274a060.png)

[2022-06-28 12:37] tadashi-aikawa commented on #51
Released in [v5.1.4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.1.4) 🚀

[2022-06-28 19:44] Glint-Eye opened #71 "[Feature Request] Option to show File Paths under the File Name"
For longer File Names paired with longer Folder Names the entries get very squeezed and aren't very nice to read anymore. I would actually prefer a display of the File path beneath the name of the File. Making it an option between the way it is now, would be great.

Great plugin btw :)

[2022-06-28 19:52] Glint-Eye opened #72 "[Feature Request] Customizing Search Result Priorities"
It would be great if search result sorting could be customized. For example by name, recency, last modified etc.
Possibly even with an own definable hierarchy for sorting priorities.

Cheers :)

[2022-06-29 02:20] tadashi-aikawa commented on #71
Hi, @Glint-Eye. Thank you for your FR :)

I'll add an option about layout 👍

[2022-06-29 02:23] tadashi-aikawa commented on #72
Perfectly I agree. I was going to add a feature like your FR 👍

[2022-07-01 05:16] tim-hilde opened #73 "Layout in Minimal theme is off"
The layout is off when using the minimal theme. Icons on the left are no shown correctly:

![SCR-20220701-9nq](https://user-images.githubusercontent.com/44113468/176828427-b5243fd2-986a-45b8-b850-e270d1340c37.png)

[2022-07-02 03:32] tadashi-aikawa commented on #73
Hi, @tim-hilde.

You can show icons by the following CSS.
![image](https://user-images.githubusercontent.com/9500018/176985076-7b4093f0-45a2-4b83-912f-a3cd79e9bb82.png)

If you don't want to show icons, you can do it via settings.
![image](https://user-images.githubusercontent.com/9500018/176985091-d62a296d-a7ba-42c1-a359-64be15d350d1.png)

[2022-07-05 06:28] tadashi-aikawa commented on #71
![image](https://user-images.githubusercontent.com/9500018/177263519-6830cb02-9a95-4f54-a137-6ee55e1b7182.png)

[2022-07-05 06:44] tadashi-aikawa commented on #71
@Glint-Eye
Released in [v5.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.2.0) 🚀

[2022-07-05 06:44] #71 closed

[2022-07-05 08:23] tyf2018 opened #74 "Can the user choose where to place the serial number?"
In the old version, the serial number was followed by the title of the note, which was convenient for users to know at a glance which key to press to open the note, as shown in the screenshot below:

![image](https://user-images.githubusercontent.com/56342788/177283115-d65a46ef-3d83-45c0-b332-50621922fd25.png)

However, in the new version, the serial number has been placed on the far right. If the

[2022-07-05 12:27] tadashi-aikawa commented on #74
Hi, @tyf2018 :)

You can set style by following CSS.

[code]

![image](https://user-images.githubusercontent.com/9500018/177327219-d5e354d2-167f-443a-a157-3dfc9d243e43.png)

[2022-07-05 16:59] tadashi-aikawa opened #75 "Layout broken in Obsidian v0.15.4"
![image](https://user-images.githubusercontent.com/9500018/177379000-cca3e024-0b53-4a7f-b5a0-59acdf16e499.png)

[2022-07-06 01:47] tadashi-aikawa commented on #75
Released in [v5.2.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.2.1) 🚀

[2022-07-06 01:47] #75 closed

[2022-07-09 14:52] tadashi-aikawa opened #76 "Through input keyboard events to editor unintentionally in "Header floating search in file" dialog."
100% reproduced during IME ON.

https://user-images.githubusercontent.com/9500018/178110988-926ebdf4-503c-4425-9e18-a0a7cd2cacf3.mp4

[2022-07-09 15:55] tadashi-aikawa commented on #64
Released in [v5.3.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.3.0) 🚀

[2022-07-09 15:55] #64 closed

[2022-07-09 15:55] tadashi-aikawa commented on #76
Released in [v5.3.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/5.3.0) 🚀

[2022-07-09 15:55] #76 closed

[2022-07-15 15:02] rapatel0 opened #77 "[Feature Request] - Pinned Searches"
It would be great to define some custom searches that can be pinned to the initial modal.

For example. I use the `#T/Project` tag for notes that contain projects. I would love to have something that prefills the searchbox with "#T/Project" and then I can sub search amongst the results

Requirements:
- Pinned searches can be defined in options using a simple string.
- By default the modal (or moda

[2022-07-17 03:29] tadashi-aikawa commented on #77
Hi, @rapatel0. Thank you for your FR :)

I think https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/19 will satisfy your requirement. What do you think?

[2022-07-24 19:58] rapatel0 commented on #77
Yeah This is clearly a duplicate of that request. Happy to link and close

[2022-07-24 19:58] #77 closed

[2022-07-24 19:59] rapatel0 commented on #77
Duplicate of #19

[2022-08-08 02:04] tadashi-aikawa commented on #19
@jzhang-brex
I have released this feature in [v6.0.0-beta4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78) 🚀

If you use [BRAT](https://github.com/TfTHacker/obsidian42-brat), please confirm whether it works as you expected. Of course, It would be great to have feedback or bug reports :)

[2022-08-08 02:04] tadashi-aikawa commented on #72
@Glint-Eye
I have released this feature in [v6.0.0-beta4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78) 🚀

If you use [BRAT](https://github.com/TfTHacker/obsidian42-brat), please confirm whether it works as you expected. Of course, It would be great to have feedback or bug reports :)

[2022-08-08 02:05] tadashi-aikawa commented on #77
@rapatel0

I have released this feature in [v6.0.0-beta4](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78) 🚀

If you use [BRAT](https://github.com/TfTHacker/obsidian42-brat), please confirm whether it works as you expected. Of course, It would be great to have feedback or bug reports at #19 :)

[2022-08-08 07:19] tyf2018 opened #79 "bug：I installed ripgrep, but the plugin doesn't recognize it."
I installed ripgrep, but the plugin doesn't recognize it.
ob：0.15.9
plugin version: 6.0.0-beta4

![CopyQ BdSBfk](https://user-images.githubusercontent.com/56342788/183361243-511260f2-eb3c-4373-b007-cf41934539f8.png)

![CopyQ HWJquH](https://user-images.githubusercontent.com/56342788/183361333-098edc9d-41f0-446c-a388-d5ba303a3c79.png)

[2022-08-08 07:30] tadashi-aikawa commented on #79
@tyf2018
Would you tell me your executed command?

[code]

[2022-08-08 07:42] tyf2018 commented on #79
An error will be reported after your command is executed.

Here is a screenshot after the previous compilation was done, maybe it will be useful?

![CopyQ rfObVn](https://user-images.githubusercontent.com/56342788/183365518-957d8b3e-3b0c-41b1-8ef0-ab43d0248341.png)

[2022-08-08 10:51] Glint-Eye commented on #45
Yes that would be a great feature, having both outgoing links and backlinks accessible in one panel. Best would be with a visual indicator, like a seperator between out- and backlinks and maybe option to set what should be shown first.

[2022-08-08 10:57] Glint-Eye opened #80 "[Feature Request] Option to hide / show hotkeys text inside switcher window"
It would be great if the text for the hotkeys at the bottom of the switcher window could be optionally deactivated as the list is starting to get quite big and it takes up a lot of space.

cheers :)

[2022-08-08 11:22] FelipeRearden commented on #72
Hello @tadashi-aikawa !!!!

Just to let you know start testing this feature and is working perfect on version `beta-4`

🔬 What I tested so far -> 2 notes from 2 different paths:
- Nested Tags
- Default input with 2 tags (#work #status/done)
- inline tags
- YAML tags
- YAML tags with the format `tags: [tag1,tag2]`
- YAML tags with the format `tags: \n-\stag1\n-\stag2]`

💪 I am gonna put more testin

[2022-08-08 12:05] tadashi-aikawa commented on #79
@tyf2018
It looks good 🤔 Does it shows the same output in cmd.exe?

[2022-08-08 12:36] tyf2018 commented on #79
yes
![CopyQ MmUpAO](https://user-images.githubusercontent.com/56342788/183419246-15de941a-8777-4e5f-a519-99fdb86111ac.png)

[2022-08-08 12:38] tadashi-aikawa commented on #79
@tyf2018
Did you restart Obsidian after installing ripgrep?

[2022-08-08 12:55] tyf2018 commented on #79
yes，many times.

[2022-08-08 13:27] tadashi-aikawa commented on #79
@tyf2018
I have released 6.0.0-beta5 that outputs debug logs as follows.

![image](https://user-images.githubusercontent.com/9500018/183428748-ed2b7af2-b11d-498e-8361-221aa05f3a99.png)

Would you upgrade it and capture the error message in devtools?

[2022-08-08 13:30] tadashi-aikawa commented on #73
Let me close this issue because no one has answered.

[2022-08-08 13:30] #73 closed

[2022-08-08 13:34] tadashi-aikawa commented on #80
Perfectly agree 👍

[2022-08-08 13:43] tyf2018 commented on #79
@tadashi-aikawa
![CopyQ EAawKH](https://user-images.githubusercontent.com/56342788/183432326-7f7c3593-fcdf-4024-836b-ec5c175ef85e.png)

Best regards.

[2022-08-08 14:02] tadashi-aikawa commented on #79
@tyf2018
Thank you! But sorry... I included mistaken in the 6.0.0-beta5. So I have released 6.0.0-beta6.

[2022-08-08 14:19] tyf2018 commented on #79
@tadashi-aikawa
Thanks！The command can be started, but the search speed seems slow? Maybe it's because there are too many notes? The vault has about 11,000 notes.

The 2nd search even caused the ob to crash.

[2022-08-08 14:30] tadashi-aikawa commented on #79
@tyf2018

Hmm... That's strange. I didn't fix it except for showing debug log 😅

Search speed is as well as in the terminal. It shows spent time in the devtool's console if debug is enabled.

![image](https://user-images.githubusercontent.com/9500018/183441689-4ad1d98b-15f1-4549-aec9-08742c8c5ff7.png)

![image](https://user-images.githubusercontent.com/9500018/183441985-19b488a4-dd82-48b4-ac23-7ce

[2022-08-08 14:33] tadashi-aikawa commented on #79
If you store markdown files in the mounted storage (ex: Dropbox, Box), it seems slow both in Obsidian and Terminal.

[2022-08-09 14:30] tyf2018 commented on #79
I am indeed using a third-party synchronization tool: https://www.jianguoyun.com/

In that case, it's really a pity.

Best regards.

[2022-08-10 00:58] #79 closed

[2022-08-10 11:52] rapatel0 commented on #19
Not sure if I'm doing something wrong

The hotkey command for a specific search works beautifly but the `:p` doesn't seem to be working with the recommended search

Config:
Custom command: Projects
Default input: #T/Projects
Priorities:
- Tag match
- Prefix name match
- Name match
- Header match
- Link match
- Last opened
- Last modified

# Hotkey trigger (works perfectly)
<img width="704" alt="im

[2022-08-10 12:09] tadashi-aikawa commented on #19
Thank you for your report, @rapatel0 :)

That is a good point out. But unfortunately, the search using `Command Prefix` don't consider `Default Input` and `Ignore prefix path patterns` for now.

I'll consider them by modifying the UI of the dialog. Please wait for the next beta release 👍

[2022-08-11 11:53] tadashi-aikawa commented on #19
@rapatel0
Released in v6.0.0-beta8 🚀

https://user-images.githubusercontent.com/9500018/184126682-0a432bf3-5083-41a1-b3df-7948c5b79328.mp4

[2022-08-11 12:42] rapatel0 commented on #19
Beautiful This is awesome

[2022-08-12 20:53] rapatel0 commented on #19
I assume that you're still working on it but. It's not clear how to indicate ignore prefixs. I used newlines to sepearte them but they don't seem to filter correctly,

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/18704704/184443308-a6624a83-8879-460a-a1f8-14599cb53ba8.png">

[2022-08-13 01:39] tadashi-aikawa commented on #19
@rapatel0
As far as I saw your images, it seems that you didn't set `/` and `Binary Files/` in "Ignore prefix path patterns.

[2022-08-13 01:42] tadashi-aikawa commented on #19
Ah.. it is impossible to ignore `/`. So please wait to implement `Includes prefix path patterns`.

[2022-08-13 07:32] tadashi-aikawa commented on #19
I have released [v6.0.0-beta10](See https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78#discussion-4239819) 🚀

@rapatel0
The new beta version enables you to set `Includes prefix path patterns`. Please try it :)

[2022-08-13 15:43] tadashi-aikawa commented on #53
Hi, @FelipeRearden.

Does v6.0.0-beta10 already satisfy your requirements about this issue? I don't have implemented `{{ current folder }}` yet, but it seems the issue is related to #38, not #53.

[2022-08-13 16:05] FelipeRearden commented on #53
100% agree @tadashi-aikawa !

In my opinion v6.0.0-beta10 satisfy the requirements of my FR :)
- When we get the new version, I will make the test on mobile :)

Thank you very much for making this real. You have no idea how this is important for my workflow and I really liked the way that you implement this feature.

I have been testing since the first beta and I have been collecting same ideas ab

[2022-08-13 16:10] FelipeRearden opened #81 "[Feature Request] New Type of Priority -> Specific Tag Matches"
Hello @tadashi-aikawa !!!!

ℹ️ This FR is related to #19

This FR is about a new type of priority related to tags.

It's gonna be hard for to explain, let me know if something is not clear ...

**In a nutshell:**  a new priority that lets the user *define* the order by tag names that are defined by the user itself in the text field

## My Tag Structre

I use tags for everything in my vault. 95% of

[2022-08-13 16:11] tadashi-aikawa commented on #53
Thank you, @FelipeRearden!

If you would test it, it is better with v6.0.0-beta11, which will contain some UI improvements for mobile :)

[2022-08-13 16:14] FelipeRearden commented on #53
Perfect @tadashi-aikawa !!!!!!!!! Thank you :)

[2022-08-14 07:41] tadashi-aikawa commented on #38
Released in v6.0.0-beta11 🚀

[For details]
`Add a <current_dir> directive that means the current directory, in "Include prefix path patterns" and "Exclude prefix path patterns"` in https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78

[2022-08-14 07:41] tadashi-aikawa commented on #80
Released in v6.0.0-beta11 🚀

[For details]
`Add a "Hide hotkey guides" option` in https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78

[2022-08-14 10:28] tadashi-aikawa commented on #79
@tyf2018

I have improved the Grep feature as well as I can. Please see https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/78#discussioncomment-3392381.

If slow in v6.0.0-beta13, there's nothing more I can do 😇

[2022-08-14 10:43] FelipeRearden commented on #53
Starting Mobile Tests  on iPadOS on v6.0.0-beta-13 ....

[2022-08-14 11:10] FelipeRearden commented on #80
@tadashi-aikawa just to let you know that in v6.0.0-beta13 ON MOBILE the option "Hide hotkey guides" is NOT hiding the numbers when the option is enable.
- I did not test on Desktop;
- I restarted Obsidian after changing the option.

Maybe is something only on my end :)

[2022-08-14 11:13] tadashi-aikawa commented on #80
@FelipeRearden
It means "text for the hotkeys at the bottom". Not a number 👍

[2022-08-14 11:17] FelipeRearden commented on #80
Forgive me @tadashi-aikawa !!! I misunderstood "text for the hotkeys at the bottom" with "hotkeys in dialog"

Sorry for the mistake 🙏

[2022-08-14 11:39] FelipeRearden commented on #53
Working perfect on version v6.0.0-beta-13 on Obsidian 1.3.0 on iPadOS
- After public release, I am gonna migrate to my main vault and start my long process of create a lot search commands from different purposes (Specific Folders and Tags) with different sort priorities.

I let you know if I found something unusual. I think we a have ground breaking new feature :)

Thank you very much @tadashi-aik

[2022-08-14 13:28] tadashi-aikawa commented on #53
Thank you very much, @FelipeRearden !! That's good news 😄

[2022-08-14 13:31] tadashi-aikawa commented on #81
Thank you for your FR, @FelipeRearden :)

If I could implement it simply, I'll try it after the next release 👍

[2022-08-14 13:45] FelipeRearden commented on #81
Thank you very much @tadashi-aikawa for trying to implement this FR !!!!!

Let's hope its an easy one 🙏🙏🙏

[2022-08-16 09:50] tadashi-aikawa commented on #19
Released in [v6.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.0.0) 🚀

[2022-08-16 09:50] #19 closed

[2022-08-16 09:51] tadashi-aikawa commented on #53
Released in [v6.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.0.0) 🚀

[2022-08-16 09:51] #53 closed

[2022-08-16 09:51] tadashi-aikawa commented on #72
Released in [v6.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.0.0) 🚀

[2022-08-16 09:51] #72 closed

[2022-08-16 09:51] tadashi-aikawa commented on #77
Released in [v6.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.0.0) 🚀

[2022-08-16 09:51] tadashi-aikawa commented on #38
Released in [v6.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.0.0) 🚀

[2022-08-16 09:51] #38 closed

[2022-08-16 09:51] tadashi-aikawa commented on #80
Released in [v6.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.0.0) 🚀

[2022-08-16 09:51] #80 closed

[2022-08-16 11:29] tim-hilde opened #82 "Reduce the list of shown entries"
Following Alfred, it would be more concise if only the first 9 entries of the list are shown and were only displayed by scrolling or refining the search. As it is now, it looks strange that the list of hotkeys is "too short".

![SCR-20220816-ihw](https://user-images.githubusercontent.com/44113468/184868950-be5ee7fb-8202-4158-a5ca-fa81c235216c.png)

vs

![image](https://user-images.githubuserconten

[2022-08-16 13:19] FelipeRearden commented on #53
Hello @tadashi-aikawa !!!!

First of all, thank very much for the new version! I am here creating my long lists of Custom Searches :)

I just wanna ask something that **is only happening in mobile** to see if you could take a look :)

### One Question 🧐

The option `Show Directory at new line` is always showing the folder path at a new line even if the option is OFF
ℹ️ This only happens on Mobile;

[2022-08-16 13:29] tadashi-aikawa commented on #53
@FelipeRearden
In mobile, directories are always at a new line because I have considered  **mobile** to be a smartphone (not iPad).

Can you please create a new Issue?

[2022-08-16 14:10] FelipeRearden opened #83 "[Feature Request] Show Directory at new line on Obsidian Mobile - iPad users"
Hello @tadashi-aikawa !!!

This issue is related to the option `Show Directory at new line` for Mobile users -> specially for iPad users.

More information about this issue can be seen in a comment [here](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/53#issuecomment-1216628954)

Thank you very much !!!!!

[2022-08-16 17:55] kometenstaub opened #84 "[FR] vim-like navigation in move file to folder switcher"
The title says it.

I would appreciate Vim-like navigation with Ctrl-j and Ctrl-k in the move file to folder switcher like what is already available in the recommended search switcher.

[2022-08-17 21:39] brimwats opened #85 "FR: Allow setting of hotkeys in dialogs"
I don;t use hover editor all that much, so I would love to make `open in new pane` crtl alt enter` but there is currently no way to customize those. Thanks for your amazing plugin!

[2022-08-18 13:40] tadashi-aikawa commented on #85
Thank you for your FR, @brimwats 👍

[2022-08-18 13:42] tadashi-aikawa commented on #84
Thank you for your FR, @kometenstaub :)

Yes, I'll release it next release 👍

[2022-08-18 13:44] tadashi-aikawa commented on #83
Thank you for creating!

[2022-08-18 13:49] tadashi-aikawa commented on #82
Thank you for your FR, @tim-hilde :)

I don't know if we can, but I'll consider it if other users need it, too. So let me set the status of this issue, `gathering interests`.

[2022-08-18 13:50] FelipeRearden opened #86 "[Feature Request] Support for Autocomplete Tags inside Text Field"
Hello @tadashi-aikawa !!!!!!!!

I know that sounds weird, but let me try to explain this FR and how I think this might be feasible

Following what FR #19 means, my FR is to be able to **autocomplete** tags when using `#` in the query field inside de modal

### MY FR

My FR is about be able to trigger the Obsidian autocomplete tag menu context when I type `#` in text field that is inside the AQS Mo

[2022-08-18 14:55] tadashi-aikawa commented on #83
Released in [v6.1.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.1.0) 🚀

[2022-08-18 14:55] #83 closed

[2022-08-18 14:55] tadashi-aikawa commented on #84
Released in [v6.1.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.1.0) 🚀

[2022-08-18 14:55] #84 closed

[2022-08-18 15:52] FelipeRearden commented on #83
Working perfect on version `v6.1.0` on Obsidian Mobile 1.3.0 on iPadOS.

Thank you much @tadashi-aikawa !!!!!

[2022-08-19 15:12] meskill commented on #20
I'm really interested in this feature, especially if there will be an ability to start focused search by clicking on folder in the file explorer menu.

[2022-08-19 15:45] zhl111 opened #87 "about grep"
I'm sorry I couldn't find help, but I saw that your site was having the same problem I was having, and I wanted to ask you for help.

 `Windows stdio in console mode does not support writing non-UTF-8 byte sequences`

I encountered this while searching for files using `ripgrep-all`, and I couldn't solve it after a long time of torture ......

[2022-08-20 06:33] tadashi-aikawa commented on #87
Hi, @zhl111 :)

I have never seen the above error.

Would you tell me more details?

[2022-08-20 06:38] tadashi-aikawa commented on #20
@meskill
Your suggestion is maybe easy because a search with `folder names/` means nearly the same.

[2022-08-20 06:46] tadashi-aikawa commented on #86
Thank you for your FR, @FelipeRearden :)

I don't know whether or not we can in the case of "Quick switcher", and how many people need it. So let me set the status of this issue, `gathering interests`.

[2022-08-20 12:46] tadashi-aikawa commented on #87
@zhl111
Thank you for your description.

So your problem is about ripgrep-all and not about my plugin?

[2022-08-20 14:02] FelipeRearden commented on #86
Hello @tadashi-aikawa !!!!

Yeah, I have some doubts too if we can apply the same behavior that I showed to you on AQS Modal :)

100% agree. Since we a have new version with a lot of new features, lets see how our friends felt about this issue.

Since I have a lot of tags and now I create a new Custom Search where now it estremely easy to search for Notes using ONLY tags (cross reference -> #tag1

[2022-08-20 14:16] tadashi-aikawa commented on #87
@zhl111
If your epub file contains non-UTF-8 characters, ripgrep-all doesn't seem support it.

https://github.com/phiresky/ripgrep-all/issues/47

[2022-08-21 03:46] tadashi-aikawa commented on #87
@zhl111
Yes. Ah, I have understood why you reached here.

In my case, it occurred when the number of bytes (≈characters) output to the console at one time exceeded a specific value.

If you could share the epub file and steps of reproduction, I might be able to investigate it. (I couldn't reproduce it on my machine.)

[2022-08-21 03:49] tadashi-aikawa commented on #87
This issue should convert to discussions, so I'll close it.

[2022-08-21 03:49] #87 closed, assigned to nobody

[2022-08-21 13:57] svonjoi opened #91 "sort alphabetically option in sort priority"
Hi

I would make custom search with traditional alphabeticall sort so I can type matching characters, for example "~" and see ordered results

![Obsidian_2022-08-21_15-54-20](https://user-images.githubusercontent.com/58810368/185794490-d60420bc-c4ed-41db-a5b8-8ab702bddeca.jpg)

thanks

[2022-08-22 06:57] Riz0 opened #92 "Jump to Tag Search Result"
Hello @tadashi-aikawa

Thanks for the lovely plugin. I like being able to use global tag search from quick switcher so this is great. The only issue is when I select a tag search result it highlights and jumps to the header of the note where the tag is found within, but not the tag itself. Do I have to adjust something to make it possible or does it need to be implemented?

Also is there any way t

[2022-08-23 15:45] tadashi-aikawa commented on #91
Thank you for your FR, @svonjoi :)

I agree with you 👍

[2022-08-23 15:53] tadashi-aikawa commented on #92
Hi, @Riz0 :)

First, for now, Another Quick Switcher **doesn't support tag search**. Another Quick Switcher supports file search **by tags**.

Therefore, this is the intended behavior as expected.

Similarly, the purpose is to search for files, so the current file is not targeted.

Kind regards.

[2022-08-24 02:24] Riz0 commented on #92
Alrighty, thanks for the explanation.

[2022-08-24 02:24] #92 closed

[2022-08-24 09:31] lguenth opened #94 "Don't highlight the first line of the frontmatter when opening files"
Hey, @tadashi-aikawa!
I'm not sure if this was introduced with the last major update or if I just didn't notice it before... But when opening a file, the first line of my frontmatter always gets highlighted, like a search result. Is there any way you could prevent that?

[2022-08-24 Screencap](https://user-images.githubusercontent.com/69049131/186383315-399edbd9-c224-4f52-88e8-be39d80d1a0c.webm)

[2022-08-24 09:45] tadashi-aikawa commented on #94
Hi, @lguenth. Thank you for your report :)

It seems to be a bug. I'll fix it 👍

[2022-08-25 15:25] tadashi-aikawa commented on #94
Released in [v6.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.2.0) 🚀

[2022-08-25 15:25] #94 closed

[2022-08-25 15:25] tadashi-aikawa commented on #91
Released in [v6.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.2.0) 🚀

[2022-08-25 15:25] #91 closed

[2022-08-26 10:56] FelipeRearden commented on #94
Working perfect on version [v6.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.2.0) on Obsidian Mobile 1.3.1 on iPadOS 15

Thank you very much @tadashi-aikawa !!!!!!!

[2022-08-26 11:28] FelipeRearden commented on #91
On my end, working-reflect on version v6.2.0 Obsidian Mobile  1.3.1 on iPadOS

Thank you very much @tadashi-aikawa !!!!

---

@tadashi-aikawa just one idea related to this FR ...

💡 How about a new variation of `Alphabetical` where we have
**Z->A** instead of A->Z ????

I am suggesting this based on Daily Notes (YYYY-mm-dd) where we might want to have 2022 and 2021 notes before 2020 notes  when ty

[2022-08-27 10:20] tadashi-aikawa commented on #91
@FelipeRearden
I see. I'll release it next release 👍

[2022-08-27 10:22] tadashi-aikawa opened #95 "Add a "Alphabetical reverse" to sort priorities"
https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/91#issuecomment-1228378793

[2022-08-27 11:08] FelipeRearden commented on #91
Thank you very much @tadashi-aikawa !!!!!!!!!!!

[2022-08-30 07:18] tadashi-aikawa opened #96 "v0.16 compatibility"

[2022-08-30 08:50] #96 closed

[2022-08-30 13:00] chrisgrieser opened #97 "Bug: Command-ids should not contain spaces"
One of the recent updates introduces the creation of custom quick switchers (which was awesome, btw!).

However, with the new commands, they now by default contain spaces (e.g. "Recent Search"). These are carried over to the command id: `obsidian-another-quick-switcher:search-command_Recent search`

having spaces in the command id is a problem, since it prevents assigning the command in the vimrc

[2022-08-30 13:21] tadashi-aikawa commented on #97
Thank you for your report, @chrisgrieser :)

I agree with you. But I think it affects only vimrc plugin (because Obsidian accepts the key name that contains whitespace). And it affects users who use AQS.

So, I'll implement it in the next major release (maybe soon), which includes the features optimized for Obsidian v0.16.0 (ex: tabs). Probably, in v7.0.0-beta1 👍

[2022-08-30 13:25] chrisgrieser opened #98 "[BUG]: Minor issues with 0.16"
Text input fields have minor breaks with the new default theme now:
<img width="967" alt="image" src="https://user-images.githubusercontent.com/73286100/187448949-325add9c-d45a-45bf-95ca-4ef993b9eb80.png">

[2022-08-30 13:30] tadashi-aikawa commented on #98
Thanks!  But I didn't reproduce it 🤔

![image](https://user-images.githubusercontent.com/9500018/187449759-ad12579d-259d-425b-a650-92f244b7c2de.png)

On mobile? (ex: iPad)

[2022-08-30 13:37] chrisgrieser commented on #98
Nope, happens on desktop. I looked into it, it seems the issue occurs because I have increased zoom level (`ctrl/cmd +`) a bit. With reduced zoom level (`ctrl/cmd –`) the issue does not occur anymore.

I assume it is because of some `min-width` you have for those text fields somewhere?

[2022-08-30 13:46] tadashi-aikawa commented on #98
Sure. `styles.css` specifies `width: 500px;`.

I think the default theme of Obsidian v0.16.0 shows more information than v0.15, So I'll reduce or not set the width

[2022-08-30 13:54] tadashi-aikawa commented on #98
Released in [v6.3.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/6.3.1) 🚀

@chrisgrieser
Please confirm it 🙏

[2022-08-30 14:12] chrisgrieser commented on #98
can confirm, looks good now 🙏

[2022-08-30 14:12] #98 closed

[2022-08-31 10:06] tim-hilde commented on #85
@tadashi-aikawa
A similar issue arrises with 0.16 and the introduction of tabs as a new hotkey is defined by default: "cmd alt ↵" opens a link into a new pane on the right.

It'd be nice to have the same hotkeys for opening files mirrored in this plugin. Or, in line with this FR at least give the opportunity to change the hotkeys.

[2022-08-31 10:11] tadashi-aikawa commented on #85
@tim-hilde
100% agree. I am going to implement it in the next major release 👍

[2022-08-31 12:17] FelipeRearden opened #100 "[Feature Request] Sort Priorities when **Default Input** is Empty"
Hello @tadashi-aikawa !!!!!

Let em try to explain  my FR ...

I noted that when AQS modal is triggered by Custom Command that has an **empty** Default Input the Priorities rules is not been applied to the AQS modal

### Real Example

**Example A:** This is my Custom Search without an empty Default Input

📸 Setting
![image](https://user-images.githubusercontent.com/85180696/187676236-d6525229-2890

[2022-09-03 08:16] tadashi-aikawa commented on #100
Thank you for your FR, @FelipeRearden :)

I'll implement it in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/101).

[2022-09-03 09:43] FelipeRearden commented on #100
Thank you very much @tadashi-aikawa !!!!!!!!!!!!!!!!

[2022-09-03 10:34] tadashi-aikawa commented on #97
Released in [7.0.0-beta1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta1) 🚀

[2022-09-03 10:35] tadashi-aikawa commented on #100
@FelipeRearden
Released in [7.0.0-beta1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta1) 🚀

[2022-09-03 10:35] tadashi-aikawa commented on #81
@FelipeRearden
Released in [7.0.0-beta1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta1) 🚀

[2022-09-03 10:36] tadashi-aikawa commented on #95
@FelipeRearden
Released in [7.0.0-beta1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta1) 🚀

[2022-09-03 13:16] svonjoi commented on #91
Thanks you @tadashi-aikawa :)

[2022-09-03 15:21] svonjoi opened #102 "FR: enable fuzzy search on search command"
It would be cool if i could enable fuzzy search method on specific search command, like in default quick switcher

![image](https://user-images.githubusercontent.com/58810368/188277234-baa523a9-059a-4286-95fb-117f0e33d218.png)

[2022-09-04 11:34] zeltak opened #103 "request: search for only folders?"
Hi!

many times I have the need to jot a note in a specific folder. is there a way to limit search just to folders with AQS?

thx a lot!

Z

[2022-09-04 11:36] tadashi-aikawa commented on #103
@zeltak
You can search the specific folder by inputting `folder_name/`. The last `/` is important.

[2022-09-04 11:40] tadashi-aikawa commented on #102
Thank you for your FR, @svonjoi :)

So far, I am not going to make the search fuzzy. There are reasons in https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/88.

However, if many users want it, I'll consider implementing it. So let me set the status of this issue to "gathering interest".

[2022-09-04 12:24] zeltak commented on #103
thx so much @tadashi-aikawa !

I actually tried that but it can't seem to present an option to jump to the folder or even show the folder, ie

![CleanShot 2022-09-04 at 15 22 39](https://user-images.githubusercontent.com/498410/188313309-cfae818d-dbb4-4377-bea4-171eec8962b8.png)

what am I doing wrong?

as always many thx for your amazing work, your multiple plugins are just pure joy :)!!!

[2022-09-04 12:36] tadashi-aikawa commented on #103
@zeltak
It looks like it has no problems for me 🤔

![image](https://user-images.githubusercontent.com/9500018/188313605-bab4d3d5-aa3e-498b-b666-895de6d1c895.png)

There are 12 files in the "Obsidian" directory and the same with the result in AQS.

[2022-09-04 12:57] zeltak commented on #103
ahh maybe I wasn't clear enough. :) I dont want to see all files in the `obsidian/` directory but jump to the root level of the `obsidian/` directory. is that possible at all currently?

![CleanShot 2022-09-04 at 15 56 19](https://user-images.githubusercontent.com/498410/188314673-70ea79b7-840f-4d31-a3ee-d9bf48d079b4.png)

Does that makes sense?

thx so much

Z

[2022-09-04 13:33] svonjoi commented on #102
sorry i didnt search in discussions before posting this. Thanks

[2022-09-04 13:39] tadashi-aikawa commented on #103
Thank you for your description. I understood 👍

In your case, is it better to add a new feature similar to "Move file to another folder" command?

![image](https://user-images.githubusercontent.com/9500018/188316472-e82c7cbb-3d68-425c-9125-caa6fdc41fbf.png)

It will show the directory on the file explorer (in Obsidian) instead of moving a file. (If possible...)

[2022-09-04 13:44] tadashi-aikawa commented on #102
No worries :) It is hard to reach there from the title of the discussion 😅

[2022-09-04 14:10] zeltak commented on #103
yeah that sounds perfect!

thx so much for considering this!

best regards

Z

[2022-09-04 22:30] FelipeRearden commented on #103
Hello @zeltak  and @tadashi-aikawa

Sorry to step into this FR. I use wanna share 2 ideas about this topic 💡

## Idea 1️⃣

How about an additional command that open the **note that is focused/selected** in the AQS in  the File Explorer ???

This way we have all scenarios covered: Directory and File :)

## Idea 2️⃣

@tadashi-aikawa how about opening the file explorer menu context (mouse right click

[2022-09-06 13:16] rapatel0 opened #104 "[Feature Request] Sort by created date"
Ideally we could add creation date to the sort priorities in either descending or ascending order.

This would be useful for meetings where the most recent meetings would be more useful to see

[2022-09-10 06:11] tadashi-aikawa commented on #104
Thank you for your FR, @rapatel0 :)

I'll consider it 👍

[2022-09-10 07:19] tadashi-aikawa commented on #104
Released in [v7.0.0-beta5](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta5) 🚀

[2022-09-13 21:28] kometenstaub opened #106 "[Bug] change `Mod -` hotkey"
Could you please change the `Mod -` hotkey for opening a file in a new horizontal pane?

Currently it coincides with the global Zoom out functionality in Obsidian. That means that when I use it to open a note in a new horizontal pane, Obsidian itself zooms out.

[2022-09-13 21:30] kometenstaub commented on #106
Maybe `Mod h` for horizontal panes and `Mod v` for vertical panes could be used?

[2022-09-14 13:25] tadashi-aikawa commented on #106
Thank you for your report, @kometenstaub :)

The problem seems that it can't prevent the key event. I'll investigate it.

[2022-09-14 14:30] tadashi-aikawa commented on #106
@kometenstaub
It would fix in [v7.0.0-beta7](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta7) 🚀

If you use BRAT, Could you confirm it to fix the bug?

[2022-09-15 08:08] kometenstaub commented on #106
Thank you so much, it works! 🥳

[2022-09-15 08:08] #106 closed

[2022-09-19 08:30] tadashi-aikawa commented on #85
Hi, @brimwats @tim-hilde

I have released [v7.0.0-beta8](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0-beta8) 🚀

To be honest, I'm not sure how it would work on macOS correctly😅. If anyone uses macOS and BRAT, it would be great to try the beta version 🙏

For details: https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/101#discussion-

[2022-09-19 10:03] tim-hilde commented on #85
@tadashi-aikawa

Yeah, this works! Great work and thank you so much!

[2022-09-24 07:59] tadashi-aikawa commented on #104
Released in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0) 🚀

[2022-09-24 07:59] #104 closed

[2022-09-24 07:59] tadashi-aikawa commented on #100
Released in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0) 🚀

[2022-09-24 07:59] #100 closed

[2022-09-24 08:00] tadashi-aikawa commented on #97
Released in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0) 🚀

[2022-09-24 08:00] #97 closed

[2022-09-24 08:00] tadashi-aikawa commented on #95
Released in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0) 🚀

[2022-09-24 08:00] #95 closed

[2022-09-24 08:00] tadashi-aikawa commented on #85
Released in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0) 🚀

[2022-09-24 08:00] #85 closed

[2022-09-24 08:00] tadashi-aikawa commented on #81
Released in [v7.0.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.0) 🚀

[2022-09-24 08:00] #81 closed

[2022-09-24 15:33] chrisgrieser opened #107 "Which search is considered to be the "default" one?"
A few people asked me to add support for AQS to my [default new tab page plugin](https://obsidian.md/plugins?id=new-tab-default-page), and I was wondering which search should be considered the default one that should be triggered? I previously implemented "Recommended Search", but I noticed that when resetting the new AQS searches, there is no recommended search anymore?

[2022-09-24 15:34] chrisgrieser commented on #97
minor follow-up issue:
it seems that only the first space is replaced, which in some rare cases like the file name search is noticable:

[code]

[2022-09-24 15:57] tadashi-aikawa commented on #97
Thanks. Fix in [v7.0.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.0.1) 👍

[2022-09-24 16:04] tadashi-aikawa commented on #107
Case by case. I use both "Recent search" and "File name search" for my case.

[2022-09-24 16:30] chrisgrieser commented on #107
hmm. I'll use "Recent Search" then, probably makes more sense for a new tab page, too. Thanks!

[2022-09-24 16:30] #107 closed

[2022-09-26 15:42] Quorafind opened #109 "[FEAT] Support preview feature in Landmark search views/ other search views"
RT, now we have preview feature in GREP search view. If it possible to preview note in other search views?

[2022-09-26 15:43] #109 closed

[2022-09-26 15:43] Quorafind opened #110 "[FEAT] Support preview feature in Landmark search views/ other search views"
RT, now we have preview feature in GREP search view. If it possible to preview note in other search views?

![image](https://user-images.githubusercontent.com/13215013/192184508-6af3fa20-676c-4ce1-93e3-51105abe2b62.png)

_Originally posted by @Quorafind in https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/discussions/108_

[2022-09-26 16:49] Glint-Eye opened #111 "[Feature Request] Header search in file: Implementation of folding"
As always thx for this wonderful plugin. By far my favorite search tool :)

I know about https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/42#issue-1228894898

So I assume it won't be doable for now but i'd like to leave a feature suggestion for the case that obsdian add folding states to the API.

---
Feature Request:

I'd like to suggest to implement folding into the "Head

[2022-09-28 07:17] bonny opened #112 "Ripgrep not found on MacOS 12.6"
I can't get the Grep command to work. I get the "You need to install Ripgrep..."-message.

Obisidan 0.16.3
Another Quick Switcher 7.0.1

RipGrep is installed, running this from terminal:

[code]

Error in Obsididan console:

<img width="774" alt="CleanShot 2022-09-28 at 09 12 37@2x" src="https://user-images.githubusercontent.com/221570/192712557-25a1ef51-5435-4aed-8818-7f43573184f6.png">

I saw #7

[2022-09-29 00:28] tadashi-aikawa commented on #111
Thank you for your FR, @Glint-Eye :)

[2022-09-29 00:36] tadashi-aikawa commented on #112
Hi, @bonny :)

Where do you add the "rg" command to the PATH? (OS environment variable setting?  .zshrc?)

[2022-09-29 07:41] bonny commented on #112
I install it via Brew so i'm not sure how the path-thingie works. I'll see if I can add it manually to the path somewhere.

[2022-09-29 07:49] bonny commented on #112
Ok, I did manually add the path to `.zshrc` and restarted Obsidian, but still the same message. Not sure how Obsidian finds commands and how to modify the path it searches in.

[2022-09-30 02:41] hicaicai commented on #26
I really like your plugin, this plugin is the one I use the most, but it's strange that every time I want to search the contents of a file, I have to switch the Search in all files command. It's a bit of a pain and I don't want to have to switch back and forth. I know you respect the ideology of Obsidian, but the plugin itself is giving another option. Whether you implement it or not, thank you ve

[2022-09-30 02:50] tadashi-aikawa commented on #112
@bonny
Thank you for your reply. Unfortunately, I can't test on macOS but I should implement it to be able to set the absolute path of ripgrep executing.

Please wait for the next release 🙏

P.S. Adding the path to `.zhsrc` is not working because "ripgrep" is executed from the Obsidian process (not from zsh)

[2022-09-30 04:35] andymac4182 commented on #112
Looks like this is how you will need to do it on mac @bonny https://stackoverflow.com/questions/22465332/setting-path-environment-variable-in-osx-permanently

[2022-09-30 04:57] tadashi-aikawa commented on #112
Thank you for your follow! @andymac4182 :)

I have implemented the new option and will release it soon 👍

![image](https://user-images.githubusercontent.com/9500018/193193144-ca6220db-9c50-4799-a857-b38499f9f9e4.png)

Maybe, it is so difficult for many people, especially not an engineers 😅

[2022-09-30 05:33] tadashi-aikawa commented on #112
Released in [v7.1.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.1.0) 🚀

@bonny Please confirm it 🙏

[2022-09-30 08:22] bonny commented on #112
@tadashi-aikawa it works now! thank you very much for such a quick solution.

[2022-09-30 08:22] #112 closed

[2022-09-30 08:54] tadashi-aikawa commented on #112
Great 👍

[2022-09-30 17:47] quinncomendant commented on #26
Just use the [Omnisearch](https://github.com/scambier/obsidian-omnisearch) plugin, it's what we're looking for: a single field is used both for creating notes and searching. It's really good.

[2022-10-01 09:18] ColeFaraday commented on #21
I'd like this feature is well, especially for things like PDF's

[2022-10-01 11:08] hicaicai commented on #26
Ok, cool. Thank you.

On Sat, Oct 1, 2022 at 1:47 AM Quinn Comendant ***@***.***>
wrote:

[2022-10-04 05:08] jchenibm opened #113 "grep not working?"
I am using Mac and installed ripgrep which is on system PATH. When I call the grep command, it still asked to install and configure ripgrep.

Any thing broken or I missed some thing? Thanks!

[2022-10-05 02:05] tadashi-aikawa commented on #113
Did you restart OS after installing ripgrep? If you did, and not working yet, please set the absolute path of ripgrep to the option. (ex: `/home/tadashi-aikawa/bin/ripgrep`)

![image](https://user-images.githubusercontent.com/9500018/193963740-826dd84d-88f5-46cb-8362-99ed23a88ee5.png)

[2022-10-08 15:53] tim-hilde opened #114 "UI looks off"
On 0.16.5 the UI of the switcher looks kina off:
<img width="716" alt="image" src="https://user-images.githubusercontent.com/44113468/194716184-eeb67919-273a-4b48-a121-96906dfcdc64.png">

[2022-10-09 02:07] tadashi-aikawa commented on #114
Thank you for your bug report! I'll fix it 👍

[2022-10-09 02:54] tadashi-aikawa commented on #114
Fixed in [v7.1.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.1.1) 🚀

[2022-10-09 02:54] #114 closed

[2022-10-15 08:53] Archie-2021 opened #115 "New Custom search added no longer work"
Recently when I add a new search to the list it doesn't work (It shows the command prefix and the related tag I have set correctly) but shows nothing in the results. The top buttons also don't work . It is looking like this, Maybe it is broken after the update to Obsidian 1.0 and I am just noticing it right now. It is very weird, I deleted a search and recreated exactly like it was before but it d

[2022-10-15 11:49] tadashi-aikawa commented on #115
@Archie-2021
You should enable `Tag` in the `Search by` option.

[2022-10-16 04:46] Archie-2021 commented on #115
I see, Those dark buttons are clickable. The look of them is misleading, like they were disabled by some other settings.

Thanks

[2022-10-16 04:54] tadashi-aikawa commented on #115
Sure. I'll add the description to `Search by` option. thanks :)

[2022-10-16 06:10] tadashi-aikawa commented on #115
Released in [v7.1.2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.1.2) 🚀

[2022-10-16 06:10] #115 closed

[2022-10-16 09:27] chrisgrieser commented on #40
has actually been solved by a PR for sueprcharged links a while ago.

[2022-10-16 09:27] #40 closed

[2022-10-16 09:30] chrisgrieser opened #116 "FR: New Command – switch between currently open tabs"
With Obsidian 1.0, you can get a list of open tabs like in the browser by clicking on this button here:
<img width="273" alt="Pasted image 2022-10-16 11 28 35" src="https://user-images.githubusercontent.com/73286100/196028217-189e90c2-b5d0-4ca5-a7ac-cf6e8455d7da.png">

However, that requires the mouse ;)
So it would be useful, if AQS could add such a tab switcher that can be used solely with the k

[2022-10-16 09:32] kometenstaub commented on #116
I would also appreciate that feature :)

[2022-10-19 01:59] Quorafind commented on #113
@Archie-2021 You can try opening Powershell, input `rg` and then enter to see if the rigrep is installed correctly.

[2022-10-19 05:52] Archie-2021 commented on #113
yes, I tested the ripgrep. `rg --help` command in cmd and it works. My main question is how to set it up in there first place. Where should I say to the system that it is a ripgrep search?

[2022-10-21 04:24] Archie-2021 opened #117 "FR - Grep only in current folder"
Please add a command to only Grep in the folder of active note.

There are many customizations possible to add to this Grep command. Most importantly is to choose which subdirectory to search. And the most urgent and useful one among those is to be able to search into the current folder. That would allow a vim '/' like search in a document divided into smaller notes.

Thank you for this great plug

[2022-10-21 10:10] tonygrr commented on #85
Can you tell me how to make keyboard shortcuts (for example, `ctrl+j`) work in all keyboard layouts (English and, for example, Russian)?

[2022-10-21 10:17] tonygrr commented on #85
Can you tell me how to make keyboard shortcuts (for example, `ctrl+j`) work in all keyboard layouts (English and, for example, Russian)?

[2022-10-21 15:15] brimwats commented on #85
that's not possible unless we're talking on the level of how a computer sees a keyboard, like `0x0c` or something. the two examples you gave; Russian doesn't use J, it uses Cyrillic. keyboard layouts are also quite different

[2022-10-21 15:43] tadashi-aikawa commented on #85
@tonygrr
If they have an `event.key`, it might be possible to set the shortcut keys.

![image](https://user-images.githubusercontent.com/9500018/197235079-848e8de1-d23a-4b2e-89a0-da9151c3adab.png)
![image](https://user-images.githubusercontent.com/9500018/197235172-1a116b51-8520-48fa-9971-f269a8c87ec4.png)

[2022-10-21 15:45] tadashi-aikawa commented on #117
Thank you for creating the issue :)

[2022-10-21 15:59] tadashi-aikawa commented on #116
Thank you for your FR, @chrisgrieser (@kometenstaub ) :)

In my case, "Recent search" satisfied the demands. Could you tell me the advantages of "switch between currently open tabs" feature compared to "Recent search"?

[2022-10-22 08:39] tadashi-aikawa commented on #117
@Archie-2021
Do you use BRAT? If so, I will release 7.2.0-beta1, and it would be great to confirm the feature as expected.

[2022-10-22 09:43] Archie-2021 commented on #117
I do use BRAT, but only if I have to, Is switching to BRAT is going to remove my setiing on my main vault? If it is just for testing I can install it on a new vault using BRAT.

[2022-10-22 09:51] tadashi-aikawa commented on #117
Released in [v7.2.0-beta2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.2.0-beta1) 🚀

@Archie-2021
Good 👍

It will not remove your settings, but creating a new vault and confirming it is more safety.

[2022-10-22 11:47] Archie-2021 commented on #117
Sorry for replying a bit late, Got some issues with my laptop.

I tested it and it looks fine at my end too, Thank you for making this possible, I still think there is a lot of friction in searching the current directory. There is no autocomplete (keyboard only) way to insert `<current_dir>`. One idea is to add Shortcuts to be set for special paths like this, meaning adding it to grep dialog or so

[2022-10-22 11:53] tadashi-aikawa commented on #117
@Archie-2021
Thank you for your confirming :)

That's so weird. Can't you auto-complete `<current_dir>` like the following mp4? (type `<` or `cur` etc..)

https://user-images.githubusercontent.com/9500018/197332844-47ccec20-5362-4efc-8435-ec61e3374ff0.mp4

[2022-10-22 12:00] Archie-2021 commented on #117
I thought you used the mouse for autocompeletion. What key do you use? Tab (when diabled from original search keybinding) is switching between path and search TextBox. What should I press?

[2022-10-22 12:12] tadashi-aikawa commented on #117
I use `Tab`. But, as you said, setting another hotkey to `search` is necessary. (That's not so good).

The "Grep dialog" can keep a path value even after closing the dialog. So I thought the hotkeys, as you suggested, might not be needed.

I like the above idea. If you want to, I'll add the hotkeys like the following.

- Sets `<current_dir>` to the path input
- Clear the path input

[2022-10-22 12:22] Archie-2021 commented on #117
Yeah I like the idea too, that would be very nice

One other idea that just came to me is to use `.` and `..` inside path to specifying relative paths like in shell. So `<../.>` would search one folder above current path , etc.

Thanks

[2022-10-22 15:13] tadashi-aikawa commented on #117
Released in [v7.2.0-beta2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.2.0-beta2) 🚀

@Archie-2021
Please confirm the new features 🙏

[2022-10-22 17:53] Archie-2021 commented on #117
Yeah it works fine on my end too, Very nice, Thanks.

Are you planning to bring it to the main branch too or it needs more testing? Am I am looking for to see it on my main vault.

[2022-10-23 07:18] tadashi-aikawa commented on #117
@Archie-2021
Soon 👍

[2022-10-23 14:42] tadashi-aikawa commented on #117
Released in [v7.2.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.2.0) 🚀

[2022-10-23 14:42] #117 closed

[2022-10-23 17:30] Archie-2021 commented on #117
Works like a charm.

Thank you very much 🙏

[2022-10-24 11:39] tonygrr commented on #85
@tadashi-aikawa unfortunately, for Russian and English layout event.key of the same button is different.

Is it possible to improve this functionality to eliminate this problem? Before v. 7.0.0, navigation worked with any keyboard layout. Maybe there is a way to allow the user to configure multiple keyboard shortcuts for the same action?

[2022-10-24 14:41] tadashi-aikawa commented on #85
@tonygrr
Do you use both Russian and English layouts?

What is **navigation** specifically? Between 6 and 7, I didn't change most actions related to hotkeys (in dialog) except for a few ones.

[2022-10-24 16:18] tonygrr commented on #85
Yeah.

I don't remember exactly on which version I started having problems, but at one point after updating the plugin, I stopped navigating through the search results using the `ctrl+j/k` shortcuts. I thought this was due to the introduction of the "Customizable hotkeys in dialogs" feature in v. 7.0.0.

I recorded a gif with work of plugin "Another Quick Switcher" v. 6.3.2, where you can see that

[2022-10-24 23:41] tadashi-aikawa commented on #85
@tonygrr
Thank you for details!

I have found the differences and a solution. I'll fix it 👍

[2022-10-24 23:50] tadashi-aikawa opened #118 "Can't set some hotkeys in layouts that are not English"
_Originally posted by @tonygrr in https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/85#issuecomment-1289277089_

[2022-10-24 23:59] tadashi-aikawa commented on #118
Fixed in [v7.2.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.2.1) 🚀

[2022-10-24 23:59] #118 closed

[2022-10-24 23:59] tadashi-aikawa commented on #85
@tonygrr
Fixed in https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/118#issuecomment-1289794754

[2022-10-26 10:47] #113 closed

[2022-10-29 20:35] kalmir commented on #112
Uuuf, made it work, thanks @tadashi-aikawa for adding the ripgrep command setting.

It just took me a while to understand I need to put the path to this setting. Because "rg" worked in the terminal, it wasn't immediately clear to me that "ripgrep command" is the setting that needs changing.

For anyone figuring out what to put in the setting on macOS, I did:
→ `brew --pregix rg` to find the path,

[2022-11-01 08:25] jerviscui commented on #4
It can be added to the README and explained in detail.
The current README is confusing.

[2022-11-01 11:04] jerviscui opened #119 "Is it possible to jump to the target?"
Is it possible to jump to the target location when opening a file?

For example, if the header matches a file, click to jump to the header automatically

[2022-11-01 11:44] jerviscui commented on #45
Hi.

I wan't to know the diffrent betwen Link and BackLink.

1. I created a link search,
![image](https://user-images.githubusercontent.com/6396748/199223565-8a30862c-4858-40ba-b110-9d5a792d9644.png)
![image](https://user-images.githubusercontent.com/6396748/199225110-bf1dbc2b-05c2-428d-a230-d5c59cffa63b.png)
2. The backlink search not work?
![image](https://user-images.githubusercontent.com/63967

[2022-11-01 11:50] jerviscui commented on #45
The backlink is the current file's backlink. Am I right?

[2022-11-01 13:09] tadashi-aikawa commented on #45
@jerviscui

Yes.

The custom command named `tt` searches markdown files that satisfy at least one of the following conditions.

- case 1:  The markdown file has internal links whose name contains `ripgrep`
- case 2: The markdown file whose name contains `ripgrep`

In your capture, this is case 2.

[2022-11-02 10:37] lguenth opened #120 "Bug: [Linux] Grep search won't return any results"
Hey Tadashi!
I've noticed that after the latest update (or so I think), the grep/rg search isn't working any more. Regular `rg` commands in my terminal still work.

I tried different casing, choosing a specific folder, but no matter what I search for, there are no results. Steps to reproduce would be to open grep search, put anything into it and hit `Tab`. I only changed the Appearance settings an

[2022-11-02 14:33] lguenth commented on #120
@tadashi-aikawa
Yeah, I can reproduce it in the sandbox vault. So, open sandbox, install plugin, call "AQS: Grep" from the command palette, try to search something. No results for "help" or "Obsidian" etc. Even if I use the full path to my rg binary in the settings. Not getting any errors, even with more verbose logging enabled.

Some system info:
I'm on Obsidian `v1.0.3` with the `v1.0.3.` instal

[2022-11-02 15:16] rapatel0 commented on #116
Recent search doesn't. The switcher doesn't show currently open pages, so recent search comes up empty

[2022-11-03 05:44] tadashi-aikawa commented on #116
Why do you need to show the current page in the result of the Recent search? I think there is no need because The page is already opened and activated.

[2022-11-03 07:13] tadashi-aikawa commented on #120
@lguenth
Thanks for details :)

I could reproduce it on Ubuntu 22.04 LTS created by Multipass on Windows 👍

[2022-11-03 10:00] tadashi-aikawa commented on #120
Ah...

[code]

[code]

[2022-11-03 10:34] jerviscui commented on #45
But he didn't retrieve the case 1 file? I understand that two files should be shown, case 1 & case 2.

The file is `Another Quick Switcher Plugin`, and it has internal link `ripgrep`, like this:

[code]

[2022-11-03 10:49] tadashi-aikawa commented on #120
@lguenth
Released in [v7.2.2](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.2.2) 🚀

Please confirm it 🙏

[2022-11-03 11:03] jerviscui commented on #119
Yes, just like the jump function by Quick switcher++.

[2022-11-03 12:21] lguenth commented on #120
@tadashi-aikawa Yessss, it works again! Thanks so much! 🎉🚀

You know what, it's really weird but I noticed the same issue in two other plugins, `Zotero Integration` and `Open with` and told the devs. But I didn't have the chance to look into your code. I'm glad you found it yourself!

[2022-11-03 12:21] #120 closed

[2022-11-03 14:26] tadashi-aikawa commented on #120
Thank you for your confirming 👍

[2022-11-03 14:34] tadashi-aikawa commented on #45
@jerviscui
I see. Another Quick Switcher doesn't show current file as a suggestion. You could show `Another Quick Switcher Plugin.md` if you search in other files.

[2022-11-04 19:36] kalmir commented on #21
+1

[2022-11-11 16:05] FelipeRearden opened #121 "[Feature Request] Header Search in File → Integration with Obsidian Zoom Plugin"
Hello @tadashi-aikawa !!!!!!

There is a new workflow that I am using that I think we could have automated by AQS !

There is a plugin called [Obsidian Zoom](https://github.com/vslinko/obsidian-zoom) that do something amazing; **You can filter/focus the note content ONLY in the Header that caret cursor in positionated**
**⭘** It's recently updated to support Obsidian 1.0
**⭘** 100% working on Mobi

[2022-11-12 19:38] japanese-goblinn commented on #45
@tadashi-aikawa sorry, I don't get from this conversation is it possible to search for outgoing links in currently opened file (i.e. markdown links listed in this file)?

[2022-11-13 04:48] tadashi-aikawa opened #122 "Show front matter"
![image](https://user-images.githubusercontent.com/9500018/201507349-a5491e92-5c23-445a-9202-a061aeeeff63.png)

[2022-11-13 06:58] tadashi-aikawa commented on #122
![image](https://user-images.githubusercontent.com/9500018/201509873-e7d33335-3a31-410f-8a11-a465bcb58fcc.png)

[2022-11-13 06:59] tadashi-aikawa commented on #122
It can't search by front matter as far, only show them.

[2022-11-13 07:41] tadashi-aikawa commented on #122
Released in [v7.3.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.3.0) 🚀

[2022-11-13 07:41] #122 closed

[2022-11-13 07:48] tadashi-aikawa commented on #45
@japanese-goblinn
No, not yet. It needs to implement this issue 👍

[2022-11-13 07:55] tadashi-aikawa commented on #121
Thank you for your FR, @FelipeRearden :)

I understand what you want to do. I don't use the plugin, but if some want the same feature, I'll try implementing it 👍

[2022-11-13 09:27] FelipeRearden commented on #121
Thank you very much @tadashi-aikawa!!!

100% I am gonna share this idea in the Obsidian Zoom Discussions to see if I get interest from de users :) 🙏🙏🙏

Thank you very much!!!!!!

[2022-11-13 09:51] FelipeRearden commented on #122
Fantastic idea @tadashi-aikawa  !!!!!

### 💡Idea

Would be possible to have a field to define some frontmatter keys to be excluded from the AQS modal

I have some keys that I would like to be excluded (they are structural keys and not informative keys):
⦿ css class
⦿ url -> I have this key with the url of the article in my DB app that I use to run a Templater script to open the article in the DB a

[2022-11-13 09:53] tadashi-aikawa commented on #122
@FelipeRearden
Cool! I'll add the feature in the next release 👍

[2022-11-13 09:55] tadashi-aikawa opened #123 "Add a "Exclude keys of front matters" option"
https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/122#issuecomment-1312689031

[2022-11-13 10:01] FelipeRearden commented on #122
Amazing 💙💙💙

Thank you very much @tadashi-aikawa !!!!!!!!!!!!!!

[2022-11-13 13:56] tadashi-aikawa commented on #123
Fixed in [v7.4.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.4.0) 🚀

[2022-11-13 13:56] #123 closed

[2022-11-13 13:56] tadashi-aikawa commented on #122
Released in [v7.4.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.4.0) 🚀

[2022-11-13 14:31] FelipeRearden commented on #123
Working perfect on version v7.4.0 on Obsidian Mobile [iPadOS] v1.4.1

Thank you very much @tadashi-aikawa !!!!!!

This new feature has a huge impact on my notes.

 I am starting to using obsidian as a Database and using YAML to store information for Specific Notes.

AQS is gonna be able to let me search for this notes and easily see this information that is located in the YAML easily
→ AQS is gett

[2022-11-14 18:47] FelipeRearden opened #124 "[Feature Request] Switching Between Header Search in File → Header **Floating** Search in File"
Hello @tadashi-aikawa !!!!!

My FR is related to the commands `Header Search in File` and `Header Floating Search in File`

My FR is simple to explain: would be amazing to have a hotkey inside the `Header Search in File`  that let the user **switch** to the  `Header Floating Search in File` modal

I know that sounds crazy, but let me explain in practice with a real world example...

### My Workflo

[2022-11-15 03:58] tyf2018 opened #125 "How to highlight keywords in search results?"
I want to highlight keywords in the search results, may I use the following css parameters? But it doesn't take effect.
[code]
Best regards.

[2022-11-15 04:26] tadashi-aikawa commented on #125
The property only affects to results of "Grep search".

[2022-11-15 05:07] tyf2018 commented on #125
It's a bit of a pity, Wouldl you consider allowing ordinary search results to achieve this effect in the future?

[2022-11-15 05:52] tadashi-aikawa commented on #125
I'm not going to add the feature because

- It is not easy to implement it
- I think the highlighting words will not help us to find the files very much (AQS doesn't support fuzzy search)

However, if there are concrete reasons, I might consider it.

Best regards.

[2022-11-15 22:35] japanese-goblinn commented on #45
@tadashi-aikawa Oh, great!

[2022-11-16 21:28] kmaustral opened #126 "Default sort order"
Having reviewed all the switchers available for Obsidian, yours is the best. It has so many options for opening files and the header navigation is very useful.

But one flaw for me is that the selection on opening is not recent files. There is nothing there useful to me until I start to type `:e` for recent items.

Would it be possible to set a custom search as the default? Or have another option

[2022-11-16 22:10] kmaustral commented on #126
I realised that I was starting with the wrong command. There is a Recent Search command for this plugin.

[2022-11-16 22:10] #126 closed

[2022-11-17 02:54] tadashi-aikawa commented on #45
P.S. I'll implement it soon.

[2022-11-19 15:02] tadashi-aikawa commented on #124
Hi, @FelipeRearden :)

Could you tell me why you didn't use only `Header Floating Search Modal`? I think it should satisfy your requirements. (In my case, I only use `Header Floating Search Modal`)

[2022-11-19 15:46] tadashi-aikawa commented on #45
![image](https://user-images.githubusercontent.com/9500018/202859227-4d3fe5f4-5978-4b33-9020-eef810ffc37e.png)

[2022-11-19 16:06] Glint-Eye commented on #45
This is really great. Thx for implementing this! I've been waiting a lot for an intuitive way to navigate through outlinks. It would be really great if the sorting option for this mode supports the order of occurence in the file too (preferrably with an exclusion of duplicates). This would be especially handy for navigating through MOC / Index Files. Thx again for implementing this :)

[2022-11-19 16:14] avirosso commented on #45
This looks very promising! Thanks!

[2022-11-19 16:24] FelipeRearden commented on #124
Let me try to explain why I need this feature.

Three main points of my workflow:

1️⃣I process a lot of books inside obsidian. This way I have notes with more than 3000 lines and many many many h3,h4 and h5

2️⃣ I use a lot of custom html tags and callouts to decorate my notes. This way Live Preview is a bit laggy when scrolling between these large notes.

3️⃣ lack of available keyboard hotkey. I

[2022-11-20 05:18] tadashi-aikawa commented on #45
Thank you for your quick responses, @Glint-Eye, @avirosso 👍

I have implemented this feature and updated mp4.

https://user-images.githubusercontent.com/9500018/202886779-c9716f49-20e6-40f1-acfc-eabd0f375eab.mp4

![2022-11-20_14h16_02](https://user-images.githubusercontent.com/9500018/202886902-ffd95c04-08ea-4fc0-be98-fc54dcc3330d.png)

If you are OK, I'll release it in the v7.5.0 release.

[2022-11-20 06:08] avirosso commented on #45
This would be perfect for me. Thanks a lot!

[2022-11-20 08:39] Glint-Eye commented on #45
wonderful. thx a lot! :)

[2022-11-20 10:12] tadashi-aikawa commented on #45
Cool 👍

And I realized that `open all in new tabs` with "Link search" is very useful for me.. 😄

https://user-images.githubusercontent.com/9500018/202896310-b29f35df-ffe0-4b5c-98a5-260f87e13f42.mp4

[2022-11-20 14:36] tadashi-aikawa commented on #45
Released in [v7.5.0](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.5.0) 🚀

[2022-11-20 14:36] #45 closed

[2022-11-20 14:57] avirosso commented on #45
Hi, I've tested it, but unfortunately the result list is always empty.

Maybe your plugin only searches/finds wikilinks `[[link]]` not real markdown-links `[text](link)` ?

Obsidian is a markdown editor, so I (and many others too) always use real markown links (according to the markdown specification) for full compatibility ...

Any idea/help?

Thanks

[2022-11-20 15:32] tadashi-aikawa commented on #45
@avirosso
I couldn't reproduce your situation. Could you tell me the reproduction steps?

https://user-images.githubusercontent.com/9500018/202910863-fe682ae2-cfce-4be2-8bca-06d26ba860f3.mp4

[2022-11-20 16:39] avirosso commented on #45
Thanks for your quick response!

After several tests: The problem is not wikilinks vs markdown-links (sorry).

It's seems to be a 'path' problem: In "Obsidian Settings > Link > Files & Links > Link format" I use "Shortest path when possible". So by default there are no 'paths' in the markdown-links (because my files are in folders but the filenames are unique in the vault).

The outgoing-link-sear

[2022-11-21 01:38] tadashi-aikawa opened #127 "Link search (Search target is "link") doesn't show suggestions in the edge cases"
[code]

- `[[hoge/hoge1/Untitled]]` works
- `[[hoge1/Untitled]]` doesn't works

[2022-11-21 01:39] tadashi-aikawa commented on #45
Thanks, @avirosso.

Continue to https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/issues/127#issue-1457150705 👍

[2022-11-21 02:11] tadashi-aikawa commented on #45
@avirosso
Fixed in [v7.5.1](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher/releases/tag/7.5.1) 🚀

[2022-11-21 03:41] avirosso commented on #45
With 7.5.1 it works - thank you very much for this immediate fix!

And by the way: Thanks for this great plugin! I've  installed over 70 plugin - your plugin is the one I use the most often (a hundred times a day) - very powerful!

[2022-11-21 20:50] japanese-goblinn commented on #45
@tadashi-aikawa i'm glad that to have this feature now, super helpful, thanks

[2022-11-23 00:18] swar8080 opened #128 "Add package-lock.json or yarn.lock to version control for reproducible builds"
Hello, i'm looking for ways to help make plugins more secure. One way is through [Reproducible Builds](https://reproducible-builds.org/), which could detect a plugin version with a malicious `main.js` file that wasn't actually built from the source code

A `package-lock.json` or `yarn.lock` is needed though to build a `main.js` from source that's identical to the one obsidian downloads when instal

[2022-11-23 11:22] tadashi-aikawa commented on #128
Hi, @swar8080. Thank you for creating issue :)

I agree with you. I didn't add `package.json` because there was not in the obsidian-sample-plugin repository. However, I found the issue now 👍

https://github.com/obsidianmd/obsidian-sample-plugin/pull/23

[2022-11-23 11:37] tadashi-aikawa commented on #124
Thank you for your explanation :)

Does your problem is that AQS shows a preview immediately? If so, the delay settings will be another solution. What do you think?

[2022-11-23 14:11] FelipeRearden commented on #124
Thank you very much for your help with this issue :)

In my humble opinion. we dont need a delay settings. `Header Floating` is working perfect the way that is working now.

The lagging issue is 100% related to my environment (huge notes and an old device 🥲).

My real pain point for this FR is the need to have two hotkeys shortcuts to switch between `Header Search` and `Header Floating Search` bec